<header class="font-">
  <div class="flex items-center justify-between w-full shadow-md py-[0.7rem] px-3 font-poppins">

    <img class="w-56" alt="logo" src="/assets/images/logos/logo-black-right.png" />

    <ul class="flex justify-center flex-grow space-x-20">
      <li class="hover:text-lg hover:underline hover:underline-offset-8
  transition-all duration-700 ease-in-out  decoration-sky-500"> <a routerLink="/">Home</a> </li>
      <li class="hover:text-lg hover:underline hover:underline-offset-8
transition-all duration-700 ease-in-out  decoration-sky-500"> <a routerLink="/aboutus">Sobre Nós</a> </li>
      <li class="hover:text-lg hover:underline hover:underline-offset-8
          transition-all duration-700 ease-in-out  decoration-sky-500"> <a routerLink="/termsconditions">Termos e Condições</a> </li>
    </ul>

    <div class="space-x-3 flex justify-end">
      <button routerLink="/signUp-SelectAccountType" class="border-2 border-black px-2 py-1 rounded-md
              hover:border-sky-500 transition-all duration-500 ease-in-out">
        Registar-se
      </button>
      <button routerLink="/login" class="bg-black text-white px-2 py-1 rounded-md
              hover:bg-sky-500 transition-all duration-500 ease-in-out">
        Entrar
      </button>
    </div>

  </div>
  <div id="google_translate_element"></div>
</header>
