<header class="bg-white" [ngClass]="{ 'visible': isVisible }">
  <div class="py-[0.7rem] font-poppins flex w-full items-center justify-between px-3 shadow-md">

    <img routerLink="/" class="w-56 hover:cursor-pointer" alt="logo" src="/assets/images/logos/logo-black-right.png" />

    <ul class="flex flex-grow justify-center space-x-20">
      <li class="decoration-sky-500 transition-all duration-700 ease-in-out hover:text-lg hover:underline hover:underline-offset-8"> <a routerLink="/">Home</a> </li>
      <li class="decoration-sky-500 transition-all duration-700 ease-in-out hover:text-lg hover:underline hover:underline-offset-8"> <a routerLink="/aboutus">Sobre Nós</a> </li>
      <li class="decoration-sky-500 transition-all duration-700 ease-in-out hover:text-lg hover:underline hover:underline-offset-8"> <a routerLink="/termsconditions">Termos e Condições</a> </li>
    </ul>

    <div class="flex justify-end space-x-3">
      <button routerLink="/signUp-SelectAccountType" class="border-2 rounded-md border-black px-2 py-1 transition-all duration-500 ease-in-out hover:border-sky-500">
        Registar-se
      </button>
      <button routerLink="/login" class="rounded-md bg-black px-2 py-1 text-white transition-all duration-500 ease-in-out hover:bg-sky-500">
        Entrar
      </button>
    </div>

  </div>
  <div id="google_translate_element"></div>
</header>
