<app-calendar-header [(view)]="view" [(viewDate)]="viewDate" [(activeDayIsOpen)]="activeDayIsOpen" [locale]="locale" />



<ng-template #loading>
  <div class="text-center font-bold text-lg">
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'"
                             [viewDate]="viewDate"
                             [events]="events"
                             [activeDayIsOpen]="activeDayIsOpen"
                             (dayClicked)="dayClicked($event.day)"
                             [locale]="locale"
                             (beforeViewRender)="beforeMonthViewRender($event)"
                             (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'"
                            [viewDate]="viewDate"
                            [events]="events"
                            [locale]="locale"
                            (beforeViewRender)="beforeWeekViewRender($event)"
                            (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'"
                           [viewDate]="viewDate"
                           [events]="events"
                           [locale]="locale"
                           (eventClicked)="eventClicked($event.event)"
                           >
    </mwl-calendar-day-view>
  </div>
</div>
