<section class="flex flex-col grow space-y-7 justify-center items-center">
  <div class="flex items-center font-open-sans text-[1.5rem] font-extrabold">
    <img src="/assets/images/icons/newspaper-folded.png" alt="Notícias" class="size-10 mr-5" />
    NOTÍCIAS DE {{ municipalityName | uppercase }}
  </div>
  <ul class="space-y-7">
    <li *ngFor="let news of newsList">
      <app-news-small [image]="news.image" [title]="news.title" [text]="news.text"></app-news-small>
    </li>
  </ul>
</section>
