<div class="border border-gray-200 p-4 rounded-lg hover:cursor-pointer transition duration-300 hover:bg-gray-200 "
     (click)="goToNewsPage()">
  <div class="flex font-roboto text-left space-x-2 w-[20rem] h-[10rem]">
    <img src="{{image}}" alt="Foto da notícia" class="object-cover w-40 h-40 rounded-2xl" />
    <section class="flex flex-col flex-grow overflow-hidden">
      <p class="font-bold text-lg text-ellipsis line-clamp-2 truncate">{{title}}</p>
      <p class="text-sm overflow-hidden truncate">{{text}}</p>
    </section>
  </div>
</div>
