<div class="border border-gray-200 p-4 rounded-lg hover:cursor-pointer transition duration-300 hover:bg-gray-200"
     (click)="goToNewsPage()">
  <div class="flex font-roboto text-left space-x-2 w-[20rem] ">
    <img src="{{image}}" alt="Foto da notícia" class="object-cover w-40 h-40 rounded-2xl" />
    <section class="flex flex-col w-[10rem]  h-[8.5rem]">
      <div class="w-full">
        <p class="font-bold text-lg text-ellipsis text-nowrap overflow-hidden">{{title}}</p>
      </div>
      <div class="text-container h-full ">
        <p class="text-sm w-full text-ellipsis overflow-hidden line-clamp-[7]">{{text}}</p> 
      </div>
      </section>
  </div>
</div>
