
Projeto-Código/Municip.io/.vs/Municip.io/v17/.suo
Projeto-Código/Municip.io/.vs/Municip.io/v17/.futdcache.v2
Projeto-Código/Municip.io/.vs/Municip.io/v17/.futdcache.v2
Projeto-Código/Municip.io/.vs/Municip.io/v17/.suo
Projeto-Código/Municip.io/.vs/ProjectEvaluation/municip.io.projects.v7.bin
