<app-header-loggedin></app-header-loggedin>
<app-profile-banner title="Dados do Munícipio"
                    [image]="currentLandscapePhoto"
                    [profileimg]="currentEmblemPhoto"></app-profile-banner>
<div class="flex flex-col bg-municip-blank py-[4rem] text-municip-normal-black pt-24 px-32 space-y-20">
  <form [formGroup]="municipalityEditForm" (ngSubmit)="onSubmit()" class="pt-[1rem] flex flex-col pb-[5rem]">
    <section class="flex text-left justify-around mb-4 ">
      <div class="w-[24rem]" *ngIf="municipalityEditForm">
        <app-input-title class="text-[2.4vh]">Presidente</app-input-title>
        <div class="relative">
          <input required type="text" id="president" formControlName="president" name="president"
                 class="input font-poppins w-[18rem] " />
          <img *ngIf="editMode" src="/assets/images/icons/pencil.png" alt="editar" class="absolute size-5 left-64 top-3.5" />
        </div>
        <div class="absolute text-red-500 font-bold py-2" *ngIf="president?.touched && president?.invalid">
          <div *ngIf="president?.errors?.['required']">Presidente Obrigatório</div>
        </div>
      </div>
      <div class="w-[20rem]">
        <app-input-title class="text-[2.4vh]">Contacto Telefónico</app-input-title>
        <div class="relative">
          <input required type="number" id="contact"
                 formControlName="contact" name="contact"
                 class="input font-poppins w-[18rem]" />
          <img *ngIf="editMode" src="/assets/images/icons/pencil.png" alt="editar" class="absolute size-5 left-64 top-3.5" />
        </div>
        <div class="absolute text-red-500 font-bold py-2" *ngIf="contact?.touched && contact?.invalid ">
          <div *ngIf="contact?.errors?.['required'] ">Contacto Obrigatório</div>
          <div *ngIf="contact?.errors?.['pattern'] ">Contacto Inválido</div>
        </div>
      </div>
    </section>

    <section class="relative flex text-left justify-around mb-4">
      <div class="absolute -top-40 right-8">
        <app-input-title class="hidden text-[2.4vh]">Foto do Brasão</app-input-title>
        <input type="file" #emblemPicker id="emblemPhoto" formControlName="emblemPhoto" name="emblemPhoto"
               (change)="onEmblemImagePicked($event)" accept="image/*"
               class="hidden input font-poppins w-[18rem] " />
        
        <app-black-btn-icon-text *ngIf="editMode"
      
                                 altImage="editar brasão"
                                 image="/assets/images/icons/pencil-white.png"
                                 (buttonClick)="emblemPicker.click()">
        </app-black-btn-icon-text>
      </div>

      <div class="absolute -top-60 left-8">
        <app-input-title class="hidden text-[2.4rem]">Foto da Paisagem</app-input-title>
        <input type="file" #landscapePicker id="landscapePhoto" formControlName="landscapePhoto"
               name="landscapePhoto" (change)="onLandscapeImagePicked($event)" accept="image/*"
               class="hidden input font-poppins w-[18rem]" />
     
        <app-black-btn-icon-text *ngIf="editMode" class="text-[1.063rem]"
                         
                                 altImage="editar paisagem"
                                 image="/assets/images/icons/pencil-white.png"
                                 (buttonClick)="landscapePicker.click()">
          Editar Paisagem
        </app-black-btn-icon-text>
  
        
      </div>
    </section>

    <div class="flex flex-col text-left w-full mt-6 mb-4 relative">
      <app-input-title class="text-[2.4vh]">Texto Informativo</app-input-title>
      <textarea required id="description" formControlName="description" name="description"
                class="input font-poppins box-border h-[20rem] resize-none grow
                  decoration-sky-500">
        </textarea>
      <img *ngIf="editMode" src="/assets/images/icons/pencil.png" alt="editar" class="absolute size-5 right-6 top-14" />
      <div class="text-red-500 font-bold py-2" *ngIf="description?.touched && description?.invalid ">
        <div *ngIf="description?.errors?.['required'] ">Descrição Obrigatório</div>
      </div>
    </div>

    <button *ngIf="editMode" type="submit" [disabled]="!municipalityEditForm.valid"
            class="absolute -bottom-[10rem] right-[10rem] h-auto w-[15rem] flex justify-center
              items-center text-municip-blank bg-gradient-to-tl from-municip-light-blue
              to-municip-blue border-0 py-4 hover:cursor-pointer focus:outline-none hover:bg-indigo-600
              rounded text-lg transition duration-700 ease-in-out">
      Finalizar Alterações
      <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
    </button>

  </form>
  <div  *ngIf="!editMode" class="absolute top-[15.3rem] right-[25rem] text-[1.063rem]">
    <app-black-btn-icon-text altImage="editar munícipio"
                             image="/assets/images/icons/pencil-white.png"
                             (buttonClick)="toggleEditMode()">
      Editar Munícipio
    </app-black-btn-icon-text>
  </div>
  <div *ngIf="editMode" class="absolute top-[15.3rem] right-[25rem] text-[1.063rem]">
    <app-black-btn-icon-text altImage="Cancelar"
                             image="/assets/images/icons/pencil-white.png"
                             (buttonClick)="cancelEditMode()">
      Cancelar Edição
    </app-black-btn-icon-text>
  </div>
</div>
<app-footer></app-footer>
