

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

</head>

<app-header-loggedin></app-header-loggedin>

<app-smaller-banner [image]="'/assets/images/admin/banner.jpg'" [title]="'Estatísticas de Município'"
                    [text]="'Consulte os dados sobre a utilização da municip.io, monitorizando o desempenho da ferramenta junto dos municípios e utilizadores'" />


<body class="flex bg-gray-100 min-h-screen" x-data="{panel:false, menu:true}">

  <div class="flex-grow text-gray-800">

    <main class="p-6 sm:p-10 space-y-16">

      <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
        <div class="flex items-center p-8 bg-white shadow rounded-lg hover:shadow-2xl transition duration-300">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
            <i class="fas fa-users "></i>
          </div>
          <div>
            <span class="block text-2xl font-bold">{{numberOfCitizens}}</span>
            <span class="block text-gray-500">Cidadãos Registados</span>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg hover:shadow-2xl transition duration-300">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
            <i class="fas fa-building "></i>

          </div>
          <div>
            <span class="block text-2xl font-bold">{{activeCitizens}}</span>
            <span class="block text-gray-500">Cidadãos Aprovados</span>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg hover:shadow-2xl transition duration-300">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
            </svg>
          </div>
          <div>
            <span class="inline-block text-2xl font-bold"></span>
            <span class="inline-block text-xl text-gray-500 font-semibold ml-1">{{blockedCitizens}} ({{blockedCitizensPercentage}}%)</span>
            <span class="block text-gray-500">Cidadãos Bloqueados</span>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg hover:shadow-2xl transition duration-300">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6">
            <i class="fas fa-user-tie "></i>

          </div>
          <div>
            <span class="block text-2xl font-bold">{{numberOfMunicipalAdmins}}</span>
            <span class="block text-gray-500">Administradores Municipais</span>
          </div>
        </div>
      </section>



      <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-3 xl:grid-flow-col gap-12">
        <div class="flex flex-col md:col-span-4 md:row-span-3 bg-white shadow rounded-lg">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Utilizadores inscritos por mês</div>


          <div class="  p-4 flex-grow bg-gray-50 m-6 shadow-xl rounded-xl hover:shadow-2xl transition duration-200 ">

            <app-registered-mun-users-graph></app-registered-mun-users-graph>



          </div>




        </div>


      </section>




      <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-12 grid-rows-4">

        <div class="flex flex-col md:col-span-1 row-span-8 bg-white shadow rounded-lg">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Notícias</div>

          <div class="p-4 flex-grow grid grid-cols-1 grid-rows-2 gap-4 h-1 ">
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-newspaper text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{newsPublished}}</span>
                <span class="block text-gray-500">Notícias Publicadas</span>
              </div>
            </div>


            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-upload text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{newsPublishedToday}}</span>
                <span class="block text-gray-500">Publicadas Hoje</span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col md:col-span-1 row-span-8 bg-white shadow rounded-lg">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Eventos</div>

          <div class="p-4 flex-grow grid grid-cols-1 grid-rows-2 gap-4 h-1 ">
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-calendar-check text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{eventsRegistered}}</span>
                <span class="block text-gray-500">Eventos registados</span>
              </div>
            </div>


            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-calendar-week text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{eventsToday}}</span>
                <span class="block text-gray-500">A decorrer hoje</span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col md:col-span-1 row-span-8 bg-white shadow rounded-lg">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Documentos</div>

          <div class="p-4 flex-grow grid grid-cols-1 grid-rows-3 gap-4 h-1 ">
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-file text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{documentsRequested}}</span>
                <span class="block text-gray-500">Documentos pedidos</span>
              </div>
            </div>


            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-file-signature text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{documentsApproved}}</span>
                <span class="block text-gray-500">Documentos Aprovados</span>
              </div>
            </div>


            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-money-bill text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{totalEarnings}}</span>
                <span class="block text-gray-500">Receita total</span>
              </div>
            </div>
          </div>
        </div>



        <div class="flex flex-col col-span-1 row-span-8 bg-white shadow rounded-lg ">
          <div class="flex row justify-between px-6 py-5 border-b border-gray-100">
            <p class="font-semibold">Biblioteca</p>
            <div class="flex row">
              <button type="button" class=" flex h-[0.1rem] w-[0.001rem] text-municip-blank bg-gray-300 to-municip-blue border-0 py-3 px-5 focus:outline-none text-lg justify-center items-center bg-[position:_0%_0%] rounded-l hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all duration-300" [ngClass]="{'bg-gradient-to-tl from-municip-light-blue': selectedButton === 1, 'bg-gray-300': selectedButton !== 1}" (click)="selectButton(1)">
                1
              </button>
              <button type="button" class=" flex h-[0.1rem] w-[0.001rem] text-municip-blank bg-gray-300 to-municip-blue border-0 py-3 px-5 focus:outline-none text-lg justify-center items-center bg-[position:_0%_0%] hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all duration-300" [ngClass]="{'bg-gradient-to-tl from-municip-light-blue': selectedButton === 2, 'bg-gray-300': selectedButton !== 2}" (click)="selectButton(2)">
                2
              </button>
              <button type="button" class=" flex h-[0.1rem] w-[0.001rem] text-municip-blank bg-gray-300 to-municip-blue border-0 py-3 px-5 focus:outline-none text-lg justify-center items-center bg-[position:_0%_0%] rounded-r hover:bg-[position:_100%_100%] bg-[size:_200%] transition-all duration-300" [ngClass]="{'bg-gradient-to-tl from-municip-light-blue': selectedButton === 3, 'bg-gray-300': selectedButton !== 3}" (click)="selectButton(3)">
                3
              </button>
            </div>



          </div>

          <div *ngIf="selectedButton === 1" class="p-4 flex-grow grid grid-cols-1 grid-rows-3 gap-4 h-1 ">
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-book text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{mostPopularGenre}}</span>
                <span class="block text-gray-500">Género Mais requisitado</span>
              </div>
            </div>

            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-book text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{numberOfBooks}}</span>
                <span class="block text-gray-500">Livros Registados</span>
              </div>
            </div>


            <div class="flex items-center p-8 bg-white shadow rounded-lg">
              <div class="inline-flex items-center justify-center h-16 w-16 sm:h-12 sm:w-12 text-blue-600 bg-blue-100 rounded-full mr-6">
                <i class="fas fa-users text-xl"></i>

              </div>
              <div class="flex-grow">
                <span class="block text-lg sm:text-xl font-bold">{{Authors}}</span>
                <span class="block text-gray-500">Autores</span>
              </div>
            </div>
          </div>

          <div *ngIf="selectedButton === 2" class="flex justify-center ">
            <div class="h-9 w-[18.6rem] ">
            <div class="flex flex-wrap items-center justify-center px-4 text-gray-400 text-3xl font-semibold transition duration-200 rounded-md col-span-1 row-span-2">
              <app-books-genre-chart [books]="books"></app-books-genre-chart>
            </div>
            </div>
          </div>

          <div *ngIf="selectedButton === 3" class="flex justify-center">
            <div class="h-9 w-[18.6rem] ">
              <div class="flex items-center justify-center px-4 text-gray-400 text-3xl font-semibold transition duration-200 rounded-md ">

                <app-borrowed-books-chart [borrowedbooks]="bookrequests" [books]="books"></app-borrowed-books-chart>
              </div>
              </div>
            </div>
          </div>
      </section>



      <section class="grid sm:grid-cols-2  xl:grid-cols-4 xl:grid-rows-2 xl:grid-flow-col gap-12">
        <div class="flex flex-col md:col-span-4 md:row-span-2 bg-white shadow rounded-lg">
          <div class="px-6 py-5 font-semibold border-b border-gray-100">Análise Demográfica</div>



          <div class="p-4 flex-grow grid grid-cols-2 grid-rows-2 gap-16 ">

            <div class="flex flex-wrap items-center justify-center px-4 py-4 text-gray-400 text-3xl font-semibold bg-gray-50 border-2 border-gray-200 shadow hover:shadow-xl transition duration-200 rounded-md col-span-1 row-span-2">


              <h3 class="text-2xl text-gray-500">Cidadãos registados de {{municipality}} <br />por género</h3>

              <app-gender-chart [citizens]="citizens"></app-gender-chart>

            </div>


            <div class="flex flex-wrap items-center justify-center px-4 py-4 text-gray-400 text-3xl font-semibold bg-gray-50 border-2 border-gray-200 shadow hover:shadow-xl transition duration-200 rounded-md col-span-1 row-span-2">



              <app-age-chart [citizens]="citizens"></app-age-chart>
              <h3 class="text-2xl text-right text-gray-500">Cidadãos registados de {{municipality}} <br /> por idade</h3>

            </div>






          </div>





        </div>
      </section>
    </main>
  </div>
</body>
