<app-header-loggedin></app-header-loggedin>
<app-big-banner [image]="municipality.landscapePhoto!" title="Município de {{municipality.name}}"
                text={{municipality.description}}></app-big-banner>
<div class="py-[4rem] text-municip-normal-black flex flex-col space-y-20 bg-municip-blank px-32">
  <div class="font-inter flex flex-row justify-between">
    <section class="flex w-1/2 flex-col space-y-12">
      <app-card-outline-white class="flex flex-col">
        <div class="space-y-4 p-5">
          <p class="text-left font-semibold">Informação Geral</p>
          <section class="grid-cols-2 grid items-center gap-x-2 gap-y-5">
            <app-general-info [iconSrc]="'/assets/images/icons/users-2-blue.png'"
                              iconAlt="Munícipes"
                              title={{municipality.populacao}}
                              text="Munícipes" />
            <app-general-info [iconSrc]="'/assets/images/icons/area.png'"
                              iconAlt="Área"
                              title="{{municipality.areaha}} Km2"
                              text="de Área Territorial" />
            <app-general-info [iconSrc]="'/assets/images/icons/town-hall-blue.png'"
                              iconAlt="Distrito"
                              title={{municipality.distrito}}
                              text="Distrito" />
            <app-general-info [iconSrc]="'/assets/images/icons/president-blue.png'"
                              iconAlt="Presidente"
                              title={{municipality.president}}
                              text="Presidente" />
          </section>
        </div>
      </app-card-outline-white>
      <section class="flex flex-col text-left">
        <p class="text-[1.5rem] font-inter text-municip-normal-black font-semibold">Descrição</p>
        <div [innerHtml]="municipality.description">

        </div>
      </section>
      <app-next-events [events]="events" [municipalityName]="municipality.name"
                       widthBox="w-[90%]" [isVertical]="true" [numVisible]="2"
                       ></app-next-events>
    </section>
    <div class="from-municip-light-blue w-1 rounded bg-gradient-to-tl to-municip-blue"></div>
    <section class="flex flex-col space-y-10">
      <app-card-outline-white>
        <div class="flex flex-col space-y-4 p-5">
          <img [src]="municipality.emblemPhoto ? municipality.emblemPhoto : '/assets/images/placeholder/placeholderpersons.jpg'"
               alt="Brasão do Município" class="w-[20rem] mb-4 self-center rounded-2xl object-cover" />
          <ul class="font-inter flex flex-col space-y-4 text-left">
            <li>
              <div>
                <p class="font-bold">Localização:</p>
                <p>{{municipality.rua}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Código-Postal:</p>
                <p>{{municipality.codigopostal}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Telefone:</p>
                <p>{{municipality.contact}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Endereço Eletrónico:</p>
                <p>{{municipality.email}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Código INE:</p>
                <p>{{municipality.codigoine}}</p>
              </div>
            </li>
          </ul>
        </div>
      </app-card-outline-white>
      <section class="flex flex-col items-center space-y-6">
        <app-next-news [newsList]="newsList" [municipalityName]="municipality.name"></app-next-news>
        <app-btn-municip-blue *ngIf="newsList.length != 0" width="15rem"
                              (buttonClick)="seeMoreNewsClick()">
          Ver mais notícias
          <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
        </app-btn-municip-blue>
      </section>

    </section>
  </div>

  <section class="flex flex-col space-y-6">
    <div class="font-open-sans text-[1.5rem] pl-[5.7rem] flex items-center font-extrabold">
      <img src="/assets/images/icons/map.png" alt="Notícias" class="mr-5 size-10" />
      MAPA DE {{ municipality.name | uppercase }}
    </div>
    <app-municipalitymap [municipalityName]=municipality.name> </app-municipalitymap>
  </section>
</div>
<app-footer></app-footer>
