<app-header-loggedin></app-header-loggedin>
<app-big-banner [image]="municipality.landscapePhoto!" title="Município de {{municipality.name}}"
                text={{municipality.description}}></app-big-banner>
<div class="flex flex-col bg-municip-blank py-[4rem] text-municip-normal-black px-32 space-y-20">
  <div class="flex flex-row font-inter">
    <section class="flex flex-col w-1/2 space-y-12">
      <app-card-outline-white class="flex flex-col ">
        <div class="p-5 space-y-4">
          <p class="font-semibold text-left">Informação Geral</p>
          <section class="grid grid-cols-2 gap-x-2 gap-y-5 items-center">
            <app-general-info [iconSrc]="'/assets/images/icons/users-2-blue.png'"
                              iconAlt="Munícipes"
                              title={{municipality.populacao}}
                              text="Munícipes" />
            <app-general-info [iconSrc]="'/assets/images/icons/area.png'"
                              iconAlt="Área"
                              title="{{municipality.areaha}} Km2"
                              text="de Área Territorial" />
            <app-general-info [iconSrc]="'/assets/images/icons/town-hall-blue.png'"
                              iconAlt="Distrito"
                              title={{municipality.distrito}}
                              text="Distrito" />
            <app-general-info [iconSrc]="'/assets/images/icons/president-blue.png'"
                              iconAlt="Presidente"
                              title={{municipality.president}}
                              text="Presidente" />
          </section>
        </div>
      </app-card-outline-white>
      <section class="flex flex-col text-left">
        <p class="text-[1.5rem] font-semibold font-inter text-municip-normal-black">Descrição</p>
        <div [innerHtml]="municipality.description">

        </div>
      </section>
      <app-next-events [events]="events" [municipalityName]="municipality.name"></app-next-events>
    </section>
    <div class="w-1 bg-gradient-to-tl from-municip-light-blue to-municip-blue rounded mx-[5vw] "></div>
    <section class="flex flex-col space-y-10">
      <app-card-outline-white>
        <div class="flex flex-col p-5 space-y-4">
          <img [src]="municipality.emblemPhoto ? municipality.emblemPhoto : '/assets/images/placeholder/placeholderpersons.jpg'"
               alt="Brasão do Município" class="object-cover w-[20rem] mb-4 rounded-2xl self-center" />
          <ul class="flex flex-col space-y-4 text-left font-inter">
            <li>
              <div>
                <p class="font-bold">Localização:</p>
                <p>{{municipality.rua}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Código-Postal:</p>
                <p>{{municipality.codigopostal}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Telefone:</p>
                <p>{{municipality.contact}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Endereço Eletrónico:</p>
                <p>{{municipality.email}}</p>
              </div>
            </li>
            <li>
              <div>
                <p class="font-bold">Código INE:</p>
                <p>{{municipality.codigoine}}</p>
              </div>
            </li>
          </ul>
        </div>
      </app-card-outline-white>
      <section class="flex flex-col space-y-6">
        <app-next-news [newsList]="newsList" [municipalityName]="municipality.name"></app-next-news>
        <app-btn-municip-blue *ngIf="newsList.length != 0" width="15rem"
                              (buttonClick)="seeMoreNewsClick()">
          Ver mais notícias
          <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
        </app-btn-municip-blue>
      </section>

    </section>
  </div>

  <section class="flex flex-col space-y-6">
    <div class="flex items-center font-open-sans text-[1.5rem] pl-[5.7rem] font-extrabold">
      <img src="/assets/images/icons/map.png" alt="Notícias" class="size-10 mr-5 " />
      MAPA DE {{ municipality.name | uppercase }}
    </div>
    <app-municipalitymap [municipalityName]=municipality.name> </app-municipalitymap>
  </section>
</div>
<app-footer></app-footer>
