<app-header></app-header>
<app-big-banner [image]="municipality.landscapePhoto!" title="Município de {{municipality.name}}"
                text={{municipality.description}}></app-big-banner>
<div class="flex flex-col bg-municip-blank py-[4rem] px-32 space-y-20">
  <div class="flex">
    <app-card-outline-white class="flex flex-col font-inter w-[140rem]">
      <div class="m-5 space-y-4">
        <p class="font-semibold text-left">Informação Geral</p>
        <section class="grid grid-cols-2 gap-x-2 gap-y-5 items-center">
          <app-general-info [iconSrc]="'/assets/images/icons/file.png'"
                            iconAlt="Ícone de Pedidos"
                            title="2245341"
                            text="Munícipes" />
          <app-general-info [iconSrc]="'/assets/images/icons/file.png'"
                            iconAlt="Ícone de Pedidos"
                            title="230,2 Km2"
                            text="de Área Territorial" />
          <app-general-info [iconSrc]="'/assets/images/icons/file.png'"
                            iconAlt="Ícone de Pedidos"
                            title="Setúbal"
                            text="Distrito" />
          <app-general-info [iconSrc]="'/assets/images/icons/file.png'"
                            iconAlt="Ícone de Pedidos"
                            title="André Ventura"
                            text="Presidente" />
        </section>
      </div>
    </app-card-outline-white>
    <div class="w-1 bg-gradient-to-tl from-municip-light-blue to-municip-blue rounded mx-[5vw] "></div>
    <section class="flex flex-col w-full justify-center">
      <div class="flex items-center font-open-sans text-left text-[1.5rem] font-extrabold">
        <img src="/assets/images/icons/external-link.png" alt="Notícias" class="size-10 mr-5 " />
        ATALHOS RÁPIDOS
      </div>
      <ul class="space-y-7 mt-10">
        <li>
          <app-btn-municip-blue width="15rem">
            Gerir Munícipes
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="15rem">
            Editar Perfil
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="15rem">
            Criar Notícia
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="15rem">
            Criar Evento
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="15rem">
            Estatísticas
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </app-btn-municip-blue>
        </li>
      </ul>
    </section>
  </div>
  <app-next-events [events]="events" [municipalityName]="municipality.name"></app-next-events>
</div>
<app-footer></app-footer>
