
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

</head>
<app-header-loggedin />
<app-smaller-banner title="Documentos do Município"
                    [image]="municipalityImage ? municipalityImage : '/assets/images/placeholder/Landscape placeholder.jpg'"></app-smaller-banner>
<div class="container relative mx-auto mb-40 px-4 sm:px-8">
 
    <app-black-btn-icon-text altImage="Ícone de Criar Documento"
                             image="/assets/images/icons/plus-white.png"
                             (buttonClick)="goCreateTemplate()"
                             class="absolute -top-3">
      Criar Documento
    </app-black-btn-icon-text>

  <div class="py-8">

    <div class="-mx-4 overflow-x-auto px-4 py-4 sm:-mx-8 sm:px-8">
      <div class="inline-block min-w-full overflow-hidden rounded-lg shadow-md">

        <!-- Add a search input for name -->
        <div class="relative mb-4">
          <label for="nameSearch" class="sr-only">Procurar por documento</label>
          <div class="flex items-center">
            <i class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
              <span class="fas fa-search"></span>
            </i>
            <input type="text" id="nameSearch" [(ngModel)]="nameSearch" placeholder="Procurar por documento"
                   class="trasition w-full rounded-2xl border px-4 py-2 pl-10 duration-300 hover:border-black">
          </div>
        </div>
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th (click)="sortTable('name')" class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                Nome
                <span [class]="sortType === 'name' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
              </th>
              <th (click)="sortTable('type')" class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                Tipo
                <span [class]="sortType === 'type' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
              </th>
              <th (click)="sortTable('price')" class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                Preço
                <span [class]="sortType === 'price' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
              </th>
              <th (click)="sortTable('status')" class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                Estado
                <span [class]="sortType === 'status' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
              </th>
              <th (click)="sortTable('status')" class="border-b-2 border-gray-200 bg-gray-100 px-5 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-700">
                Ação
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of filteredDocuments" [class]="(filteredDocuments.indexOf(d) % 2 === 0 ? 'bg-white' : 'bg-gray-100')">
              <td class="px-5 py-5 text-left">{{ d.name }}</td>
              <td class="px-5 py-5 text-left">{{ d.type }} </td>
              <td class="px-5 py-5 text-left">{{ d.price }}</td>
              <td class="px-5 py-5 text-left">
                <span *ngIf="d.status === DocumentTemplateStatus().active" class="inline-block rounded-full bg-green-500 p-1.5 text-xs text-white">
                  {{ d.status }}
                </span>
                <span *ngIf="d.status === DocumentTemplateStatus().inactive" class="inline-block rounded-full bg-yellow-500 p-1.5 text-xs text-white">
                  {{ d.status }}
                </span>

              </td>

              <td class="space-x-2 px-5 py-5">
                <button (click)="editDocument(d); $event.stopPropagation()" class="rounded-md bg-municip-blue px-3 py-1 text-white"
                        aria-label="Edit Document Button"
                        >
                  <i class="fas fa-edit"></i>
                </button>
                <button *ngIf="d.status === DocumentTemplateStatus().inactive" (click)="activeDocument(d); $event.stopPropagation()"
                        class="rounded-md bg-green-500 px-3 py-1 text-white"
                        aria-label="Activate Document Button"
                        >
                  <i class="fas fa-check"></i>
                </button>
                <button *ngIf="d.status === DocumentTemplateStatus().active" (click)="desactiveDocument(d); $event.stopPropagation()"
                        class="rounded-md bg-yellow-500 px-3 py-1 text-white"
                        aria-label="Desactivate Document Button"
                        >
                  <i class="fas fa-lock"></i>
                </button>
                <button (click)="deleteDocument(d); $event.stopPropagation()" class="rounded-md bg-red-500 px-3 py-1 text-white"
                        aria-label="Delete Document Button"
                        >
                  <i class="fas fa-trash-alt"></i>
                </button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer/>
