<app-header />
<div class="flex items-center justify-center pt-5 w-full font-poppins">
  <img alt="logo" src="/assets/images/logos/logo-icone.png" class="h-auto w-[12rem]">

</div>
<div class="pt-6">
  <h2 class="flex items-center justify-center sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Termos e Condições</h2>

  <p class="flex items-center text-justify ml-14 mr-14 pr-14 pl-14 ">Bem-vindo à plataforma de gestão municipal oferecida pela Municip.io. O uso desta plataforma está sujeito aos seguintes termos e condições ("Termos"), que regulam sua interação com a plataforma. Ao acessar e usar esta plataforma, você concorda com estes Termos em sua totalidade. Se você discordar de qualquer parte destes Termos, por favor, não use esta plataforma.</p>
  <div class="pl-14 pt-5">
    <h3 class="flex items-center justify-left sm:text-xl text-x font-medium title-font mb-4 text-gray-900 ml-14 mt-13">1. Uso Autorizado</h3>
    <p class="flex items-center text-justify  mr-14 pr-14 pl-14 ">
      Esta plataforma destina-se a ser usada por funcionários, representantes, e indivíduos autorizados pela administração municipal para facilitar a gestão, comunicação e colaboração relacionadas aos assuntos municipais. Qualquer uso fora dessa finalidade requer aprovação explícita da administração municipal.
    </p>
  </div>

  <div class="pl-14 pt-5">
    <h3 class="flex items-center justify-left sm:text-xl text-x font-medium title-font mb-4 text-gray-900 ml-14 mt-13">2. Responsabilidade do Utilizador</h3>
    <ul class=" items-center text-justify mr-14 pr-14 pl-20 list-disc">
      <li class="pb-2"><span class="font-bold">Registro e Precisão das Informações: </span> Ao se registrar na plataforma, você concorda em fornecer informações verdadeiras, precisas e atualizadas sobre si mesmo ou sobre a entidade que representa. Você é responsável por manter a confidencialidade de suas credenciais de login e por todas as atividades realizadas em sua conta.</li>

      <li><span class="font-bold">Uso Adequado da Plataforma: </span>  O uso desta plataforma deve estar em conformidade com todas as leis, regulamentos e diretrizes municipais aplicáveis. Qualquer atividade ilegal ou uso indevido resultará no término imediato do acesso à plataforma e pode resultar em ações legais.</li>
    </ul>


  </div>

  <div class="pl-14 pt-5">
    <h3 class="flex items-center justify-left sm:text-xl text-x font-medium title-font mb-4 text-gray-900 ml-14 mt-13"> 3. Propriedade Intelectual e Conteúdo </h3>
    <ul class=" items-center text-justify mr-14 pr-14 pl-20 list-disc">
      <li class="pb-2">
        <span class="font-bold">Direitos de Propriedade:</span> Todo o conteúdo disponibilizado nesta plataforma, incluindo, mas não se limitando a textos, gráficos, logotipos, imagens, vídeos, e software, é propriedade da administração municipal ou de terceiros licenciadores. É proibida a reprodução, distribuição ou utilização não autorizada desse conteúdo sem consentimento explícito.
      </li>
    </ul>
  </div>


  <div class="pl-14 pt-5">
    <h3 class="flex items-center justify-left sm:text-xl text-x font-medium title-font mb-4 text-gray-900 ml-14 mt-13"> 4. Limitação de Responsabilidade </h3>
    <ul class=" items-center text-justify mr-14 pr-14 pl-20 list-disc">
      <li class="pb-2">
        <span class="font-bold">Uso por Sua Conta e Risco:</span> O uso desta plataforma é por sua conta e risco. A administração municipal não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, especiais, consequenciais ou punitivos decorrentes do uso ou incapacidade de usar esta plataforma.
      </li>
    </ul>
  </div>

  <div class="pl-14 pt-5">
    <h3 class="flex items-center justify-left sm:text-xl text-x font-medium title-font mb-4 text-gray-900 ml-14 mt-13"> 5. Modificações e Terminação </h3>
    <ul class=" items-center text-justify mr-14 pr-14 pl-20 list-disc">
      <li class="pb-2">
        <span class="font-bold">Modificações nos Termos:</span> Reservamos o direito de modificar ou substituir estes Termos a qualquer momento. É responsabilidade do usuário verificar periodicamente as mudanças. O uso continuado da plataforma após alterações constitui aceitação dos novos Termos.
      </li>
      <li class="pb-2">
        <span class="font-bold">Terminação de Acesso: </span> A administração municipal reserva-se o direito de encerrar ou suspender seu acesso à plataforma, a qualquer momento, por violação dos Termos ou por qualquer razão semelhante, sem aviso prévio.
      </li>
    </ul>
  </div>

  <div class="pl-14 pt-5">
    <h3 class="flex items-center justify-left sm:text-xl text-x font-medium title-font mb-4 text-gray-900 ml-14 mt-13"> 6. Disposições Gerais </h3>
    <ul class=" items-center text-justify mr-14 pr-14 pl-20 list-disc">
      <li class="pb-2">
        <span class="font-bold">Legislação Aplicável: </span> Estes Termos são regidos e interpretados de acordo com as leis do município [Nome do Município] sem consideração a seus conflitos de disposições legais.
      </li>
      <li class="pb-2">
        <span class="font-bold">Severabilidade:  </span>  Se qualquer disposição destes Termos for considerada inválida ou inexequível por um tribunal competente, essa invalidade não afetará a validade das demais disposições destes Termos.
      </li>
    </ul>
  </div>

  <p class="flex items-center text-justify ml-14 mr-14 pr-14 pl-14 mt-5 mb-10">
    Ao utilizar esta plataforma, você concorda com estes Termos e Condições. Se tiver alguma dúvida sobre estes Termos ou sobre o uso desta plataforma, entre em contato com a administração municipal para esclarecimentos adicionais.
  </p>

</div>
<app-footer />
