<div class="flex text-municip-black  font-poppins">
  <div class=" w-screen h-screen grow bg-gradient-to-tl from-municip-light-blue to-municip-blue flex items-center justify-center">
    <section class="flex flex-col justify-center items-center rounded-3xl py-10 bg-[#F5F5F7] drop-shadow-[0_10px_10px_rgba(0,0,0,0.40)]">
      <img alt="checkmark" src="/assets/images/icons/checkmark.png" class="size-4/12 " />
      <div class="font-varela-round text-[5vh]">Registado <p>com Sucesso</p></div>
      <button class=" w-[13rem] rounded-xl flex justify-center items-center font-semibold text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue
border-0 mt-[4rem] mb-[1rem] py-5 hover:cursor-pointer focus:outline-none hover:bg-indigo-600  text-[1.7rem] transition duration-700 ease-in-out">
        Continuar  
      </button>
    </section>
  </div>
</div>
