<app-header-loggedin></app-header-loggedin>
<app-big-banner [image]="municipality.landscapePhoto ? municipality.landscapePhoto : '/assets/images/placeholder/Landscape placeholder.jpg'" title="Município de {{municipality.name}}"
                text={{municipality.description}}></app-big-banner>
<div class="my-[4rem] mx-32 space-y-20">
  <div class="flex flex-row justify-between">
    <section class="flex w-1/2 flex-col space-y-20">
      <app-my-municipality-card [district]="municipality.distrito"
                                [nPopulation]="municipality.populacao"
                                [email]="municipality.email"
                                [phoneNumber]="municipality.telefone"
                                [emblem]="municipality.emblemPhoto!">
      </app-my-municipality-card>

      <app-my-data-card [firstName]="user.firstName"
                        [lastName]="user.surname"
                        [email]="user.email"
                        photo="assets/images/icons/admin.png">
      </app-my-data-card>
    </section>
    <div class="from-municip-light-blue w-1 rounded bg-gradient-to-tl to-municip-blue"></div>
    <section class="min-w-[20rem] flex flex-col items-center justify-center">
      <div class="font-open-sans text-[1.5rem] flex items-center text-left font-extrabold duration-300 hover:opacity-75">
        <img src="/assets/images/icons/external-link.png" alt="Notícias" class="mr-5 size-10" />
        ATALHOS RÁPIDOS
      </div>
      <ul class="mt-10 space-y-7">
        <li>
          <app-btn-municip-blue width="16rem" routerLink="/munadmin-dashboard">
            Gerir Munícipes
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </app-btn-municip-blue>
        </li>

        <li>
          <app-btn-municip-blue width="16rem" routerLink="/manageAppFeatures">
            Editar Funcionalidades
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </app-btn-municip-blue>
        </li>

        <li>
          <app-btn-municip-blue width="16rem" routerLink="/municipal/edit">
            Editar Municipio
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="16rem" routerLink="/library/requests">
            Requisições de livros
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="16rem" routerLink="/documents/approve">
            Aprovar Documentos
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </app-btn-municip-blue>
        </li>
        <li>
          <app-btn-municip-blue width="16rem" routerLink="/munadminstatistics">
            Estatísticas
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </app-btn-municip-blue>
        </li>
      </ul>
    </section>
  </div>
  <div class="flex items-center justify-around">
    <app-statistical-home-page-card [iconSrc]="'/assets/images/icons/git.png'"
                                    iconAlt="Ícone de Pedidos"
                                    title="Cidadãos por Aprovar"
                                    [value]="citizensToApprove"
                                    buttonText="Analisar Pedidos"
                                    (buttonClick)="pendingCitizensClick()">
      
    </app-statistical-home-page-card>
    <app-statistical-home-page-card [iconSrc]="'/assets/images/icons/file.png'"
                                    iconAlt="Ícone de Documentos por Aprovar"
                                    title="Documentos por Aprovar"
                                    [value]="documentsToApprove"
                                    buttonText="Analisar Documentos"
                                    (buttonClick)="approveDocumentsClick()">
      
    </app-statistical-home-page-card>
  </div>
</div>
<app-footer></app-footer>
