/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&family=Roboto&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    font-family: 'Poppins';
    font-weight: 500;
    height: auto;
    padding: 1.5vh 1vw;
    background-color: #F5F5F7;
    border-radius: 0.375rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-opacity: 1;
  }
}
