/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&family=Roboto&family=Varela+Round&display=swap');

/* its for the events calender*/
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/*set the angular material css*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    font-family: 'Poppins';
    font-weight: 500;
    height: auto;
    padding: 1.5vh 1vw;
    background-color: #F5F5F7;
    border-radius: 0.375rem;
    outline: 2px solid #bbbabc;
    outline-offset: 1px;
    transition: outline-color 0.3s ease-in-out;
    
  }

    .input:focus {
      outline-color: #5875F6;
    }

    

    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep mat-select-country .mat-form-field {
  width: 100%;
}


#google_translate_element {
  text-align: center;
  padding: 20px;
}

.goog-te-combo {
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  appearance: none;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  text-decoration: none;
  color: #1a0dab;
  font-weight: bold;
}

  .VIpgJd-ZVi9od-l4eHX-hSRGPd img {
    vertical-align: middle;
  }
