
<div class="text-municip-black text-[1.1rem] font-poppins flex">

  <div class="from-municip-light-blue sticky top-0 flex h-screen grow items-center justify-center bg-gradient-to-tl to-municip-blue">
    <div class="flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] size-8/12" />
    </div>
  </div>



  <section class="mx-[3rem] w-[62.5rem] flex grow flex-col">

    <div>
      <h1 class="font-black text-[2.4rem] my-2 text-left text-black">Registo de Munícipe</h1>
      <h2 class="text-municip-normal-black mb-2 text-left font-medium">Insira os seus dados</h2>
    </div>




    <form [formGroup]="signUpCitizenForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-6 max-lg:items-center">
      <div *ngIf="errors" class="space-y-2 text-start text-sm font-bold text-red-500">
        <div *ngFor="let error of errors">
          <p>{{error}}</p>
        </div>
      </div>


      <section class="flex justify-between gap-3 max-lg:flex-col">

        <div class="relative">
          <app-input-title class="text-[1.4rem]">Primeiro Nome</app-input-title>
          <div class="flex items-center">
            <input required placeholder="Introduza o seu primeiro nome" type="text" id="firstName" formControlName="firstName" name="firstName" [(ngModel)]="citizen.firstName"
                   class="input w-[21rem] h-12" />
            <app-tooltip [tooltipText]="'De acordo com o Documento de Identificação.'"></app-tooltip>
          </div>
          <div class="absolute py-2 font-bold text-red-500" *ngIf="firstName?.touched && firstName?.invalid ">
            <div *ngIf="firstName?.errors?.['required'] ">Primeiro Nome Obrigatório</div>
          </div>
        </div>

        <div class="relative">
          <app-input-title class="text-[1.4rem]">Apelido</app-input-title>
          <div class="flex items-center">
            <input required placeholder="Introduza o seu apelido" type="text" id="surname" formControlName="surname" name="surname" [(ngModel)]="citizen.surname"
                   class="input w-[21rem] h-12" />
            <app-tooltip [tooltipText]="'De acordo com o Documento de Identificação.'"></app-tooltip>
          </div>
          <div class="absolute py-2 font-bold text-red-500" *ngIf="surname?.touched && surname?.invalid">
            <div *ngIf="surname?.errors?.['required'] ">Apelido Obrigatório</div>
          </div>
        </div>

      </section>



      <section class="flex justify-between gap-3 max-lg:flex-col">
        <div class="relative">
          <app-input-title class="text-[1.4rem]">Email</app-input-title>
          <input required placeholder="Introduza o seu email" type="email" id="email" formControlName="email" name="email" [(ngModel)]="citizen.email"
                 class="input w-[21rem] h-12" />
          <div class="absolute py-2 font-bold text-red-500" *ngIf="email?.touched && email?.invalid ">
            <div *ngIf="email?.errors?.['required'] ">Email Obrigatório</div>
            <div *ngIf="email?.errors?.['email']">Email Inválido</div>
          </div>
        </div>

        <div class="relative">
          <app-input-title class="text-[1.4rem]">Palavra-Passe</app-input-title>
          <div class="flex items-center">
            <input required placeholder="Introduza a sua palavra-passe" type="password" id="password" formControlName="password" name="password" [(ngModel)]="citizen.password"
                   class="input w-[21rem] h-12">
            <app-tooltip [tooltipText]="'A password deverá ter letras maiúsculas, minúsculas, números e símbolos'"></app-tooltip>

          </div>
          <div class="absolute py-2 font-bold text-red-500" *ngIf="password?.touched && password?.invalid">
            <div *ngIf="password?.errors?.['required'] ">Palavra-Passe Obrigatório</div>
            <div *ngIf="password?.errors?.['invalidPassword'] ">Palavra-Passe Inválida</div>
          </div>
        </div>
      </section>




      
        
      <section class="flex flex-col">
        <app-input-title class="text-[1.4rem]">NIF</app-input-title>


        <div class="flex justify-between gap-3 max-lg:flex-col">
          <div class="h-[4rem] flex flex-col">
            <div class="flex items-center">
              <app-country-picker [country]="country" class="w-[12rem] h-[4rem]">
              </app-country-picker>
            </div>

            <div class="bottom-[0.7rem] relative font-bold text-red-500" *ngIf="country.touched && country?.invalid">
              <div *ngIf="country?.errors?.['required']">País obrigatório</div>
            </div>
          </div>

          <div class="relative">
            <div class="flex items-center">
              <input required placeholder="Introduza o seu NIF" type="text" id="nif" formControlName="nif" name="nif" [(ngModel)]="citizen.nif"
                     class="input w-[21rem] h-12" />
              <app-tooltip [tooltipText]="'9 dígitos'"></app-tooltip>
            </div>
            <div class="absolute py-2 font-bold text-red-500" *ngIf="nif?.touched && nif?.invalid">
              <div *ngIf="nif?.errors?.['required']">NIF Obrigatório</div>
              <div *ngIf="nif?.errors?.['pattern']">NIF Inválido</div>
            </div>
          </div>
        </div>


      </section>
    



      <section class="flex justify-between gap-3 max-lg:flex-col">
        <div class="relative">
          <app-input-title class="text-[1.4rem]">Data de Nascimento</app-input-title>
          <div class="flex items-center">
            <app-date-picker [date]="birthDate" [maxDate]="maxBirthDate" name="birthDate" class="w-[21rem]" />

            <app-tooltip [tooltipText]="'Utilize o seletor para a inserção da data'"></app-tooltip>
          </div>
          <div class="absolute py-2 font-bold text-red-500" *ngIf="birthDate?.touched && birthDate?.invalid">
            <div *ngIf="birthDate?.errors?.['required']">Data de Nascimento Obrigatória</div>
            <div *ngIf="birthDate?.errors?.['over120']">É velhinho demais, né?</div>
            <div *ngIf="birthDate?.errors?.['invalid']">Data de Nascimento inválida</div>
          </div>
        </div>


        <div class="relative">
          <app-input-title class="text-[1.4rem]">Código Postal</app-input-title>
          <div class="w-[22rem] flex items-center space-x-2">
            <input required placeholder="0000" type="text" id="postalCode1"
                   formControlName="postalCode1" name="postalCode1"
                   [(ngModel)]="citizen.postalCode1"
                   class="input w-1/2 text-center" />
            <span>-</span>
            <input required placeholder="000" type="text" id="postalCode2"
                   formControlName="postalCode2" name="postalCode2"
                   [(ngModel)]="citizen.postalCode2"
                   class="input w-1/3 text-center" />
          </div>
          <div class="absolute py-2 font-bold text-red-500" *ngIf="(postalCode1?.touched && postalCode1?.invalid) || (postalCode2?.touched && postalCode2?.invalid) ">
            <div *ngIf="postalCode1?.errors?.['required'] || postalCode2?.errors?.['required'] ">Código Postal Obrigatório</div>
            <div *ngIf="postalCode1?.errors?.['pattern']">Primeiro código Inválido</div>
            <div *ngIf="postalCode2?.errors?.['pattern']">Secundo código Inválido</div>
          </div>
        </div>

      </section>




      <section class="flex justify-between gap-3 max-lg:flex-col">
        <div class="relative">
          <app-input-title class="text-[1.4rem]">Género</app-input-title>
          <select required id="gender" formControlName="gender" name="gender" [(ngModel)]="citizen.gender"
                  class="input w-[21rem] h-14">
            <option value="">Escolha o seu género</option>
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
            <option value="o">Outro</option>
          </select>
          <div class="absolute py-2 font-bold text-red-500" *ngIf="gender?.touched && gender?.invalid">
            <div *ngIf="gender?.errors?.['required'] ">Género Obrigatório</div>
          </div>
        </div>


        <div class="relative">
          <app-input-title class="text-[1.4rem]">Morada</app-input-title>

          <div class="flex items-center">
            <input required placeholder="Introduza a sua morada" type="text" id="address" formControlName="address" name="address" [(ngModel)]="citizen.address"
                   class="input w-[21rem] h-14" />
            <app-tooltip [tooltipText]="'Nome da rua, nº da porta e andar'"></app-tooltip>
          </div>

          <div class="absolute py-2 font-bold text-red-500" *ngIf="address?.touched && address?.invalid">
            <div *ngIf="address?.errors?.['required'] ">Morada Obrigatório</div>
          </div>

        </div>
      </section>



      <section class="relative">
        <app-input-title class="text-[1.4rem]">Município</app-input-title>


        <div class="flex items-center">
          <input required id="municipality" formControlName="municipality" name="municipality" [(ngModel)]="citizen.municipality"
                 class="input w-[21rem] h-12" list="municipalities" [placeholder]="defaultMunicipalityOption">

          <datalist id="municipalities" *ngIf="municipalities.length > 0">
            <option *ngFor="let municipality of municipalities" [value]="municipality.name">{{ municipality.name }}</option>
          </datalist>
          <app-tooltip [tooltipText]="'Selecione o seu município de residência'"></app-tooltip>
        </div>

        <div class="absolute py-2 font-bold text-red-500" *ngIf="municipality?.touched && municipality?.invalid">
          <div *ngIf="municipality?.errors?.['required']">Município Obrigatório</div>
          <div *ngIf="municipality?.errors?.['invalidMunicipality']">Município Inválido</div>
        </div>

      </section>



      <section class="flex flex-col space-y-2 text-left">
        <app-input-title class="text-[1.4rem]">Foto de Perfil</app-input-title>
        <div class="bg-[#F5F5F7] rounded-[0.375rem] border-2 border-[#bbbabc] h-[17rem] table w-full border-dotted max-lg:w-[21.8rem]" (dragover)="onDragOver($event)"
             (drop)="onDrop($event)" (click)="filePicker.click()">

          <div class="table-cell align-middle">
            <div class="text-center">
              <input type="file" #filePicker (change)="onFileChange($event)" accept="image/*" capture class="hidden">

              <label for="file" class="flex items-center justify-center p-5 hover:cursor-pointer">Seleciona uma imagem ou arrasta-a para aqui!</label>

              <div *ngIf="image" class="flex items-center justify-center pb-2">
                <img [src]="imageUrl" alt="Imagem carregada" class="w-[10rem] h-[10rem] object-cover">
              </div>

            </div>
          </div>
        </div>
      </section>



      <section class="flex h-32 items-center justify-end">
        <button type="submit" [disabled]="!signUpCitizenForm.valid || !image"
                class="w-[10rem] from-municip-light-blue border-0 relative flex h-auto items-center justify-center rounded bg-gradient-to-tl to-municip-blue px-8 py-3 text-lg text-municip-blank transition-all duration-300 focus:outline-none disabled:cursor-not-allowed bg-[position:_0%_0%] bg-[size:_200%] hover:bg-[position:_100%_100%]">
          Registar
          <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
        </button>
      </section>


    </form>


    <div class="pb-20">
      <hr class="border-t-[#ECECF0] my-4 rounded-3xl" />
      <div class="text-municip-normal-black text-right font-medium">Já tem conta? <a routerLink="/login" class="ml-2 cursor-pointer font-bold text-black hover:underline">Faça login</a></div>
    </div>

  </section>
</div>
