
<app-header-loggedin></app-header-loggedin>
<app-smaller-banner [title]="'Editar Evento'" [image]="municipalityImage"
                    class="font-inter" />


<ng-container *ngIf="isDialogOpen">
  <app-dialog-message (confirm)="closeDialog()" title="Sucesso" message="Operação realizada com sucesso"
                      [isConfirm]=true></app-dialog-message>
</ng-container>

<form [formGroup]="eventForm" (ngSubmit)="OnSubmit()" class="px-32 mb-32 mt-10">
  <div *ngIf="error" class=" text-red-500 text-xl font-bold space-y-2 text-start mb-5">
    <p>{{error}}</p>
  </div>


  <div class="flex items-center justify-between">
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Título</app-input-title>
      <div class="flex items-center">
        <input required placeholder="Título do evento" type="text" id="title" formControlName="title" name="title"
               class="input w-full h-12 lg:h-14" />
      </div>
      <div class="text-red-500 font-bold py-2" *ngIf="title?.touched && title?.invalid ">
        <div *ngIf="title?.errors?.['required'] ">Título Obrigatório</div>
      </div>
    </div>
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Número máximo de participantes</app-input-title>
      <div class="flex items-center">
        <input required placeholder="Capacidade do evento" type="number" id="capacity" formControlName="capacity" name="capacity"
               class="input w-full h-12 lg:h-14 " />
      </div>
      <div class="text-red-500 font-bold py-2" *ngIf="capacity?.touched && capacity?.invalid">
        <div *ngIf="capacity?.errors?.['required'] ">Capacidade Obrigatória</div>
        <div *ngIf="capacity?.errors?.['min'] ">Capacidade mínima de 1</div>

      </div>
    </div>
  </div>



  <div class="flex items-center justify-between mb-4">
    <div class="w-full lg:w-5/12 mb-4 p-6 shadow-2xl rounded-xl">

      <app-datetimepicker [titleDate]="'Período de Inscrição'" [formGroup]="eventForm"
                          [StartHourPlaceholder]="'Início de Incrição'" [EndHourPlaceholder]="'Fim de Inscrição'"
                          [formReceived]="eventRegistration"
                          [minDate]="minDateRegistration"
                          />
    </div>

    <div class="w-full lg:w-5/12 mb-4 p-6 shadow-2xl rounded-xl">

      <app-datetimepicker [titleDate]="'Período de Evento'" [formGroup]="eventForm"
                          [StartHourPlaceholder]="'Início do Evento'" [EndHourPlaceholder]="'Fim do Evento'"
                          [formReceived]="eventDate"
                          [minDate]="minDateEvent"/>
    </div>
  </div>
  <div class="flex items-center justify-between ">
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Localização</app-input-title>
      <div class="flex items-center">
        <input required placeholder="Localização do evento" type="text" id="local" formControlName="local" name="local"
               class="input w-full h-12 lg:h-14 " />
      </div>
      <div class="text-red-500 font-bold py-2" *ngIf="local?.touched && local?.invalid ">
        <div *ngIf="local?.errors?.['required'] ">Local Obrigatório</div>
      </div>
    </div>


    <div class="w-full lg:w-5/12 mb-4 h-32">

      <input type="file" #filePicker id="image" formControlName="image" name="image"
             (change)="onImagePicked($event)" accept="image/*"
             class="hidden">

      <div class="input h-full w-full flex relative">
        <img [src]="imagePreview" alt="imagem do evento" class="object-contain w-full" />
        <div class="absolute -top-5 right-0">
          <app-black-btn-icon-text altImage="editar capa de evento"
                                   image="/assets/images/icons/pencil-white.png"
                                   (buttonClick)="filePicker.click()">
            Editar Capa
          </app-black-btn-icon-text>
        </div>
      </div>
    </div>
  </div>


  <div class="w-full mb-4 h-72">
    <app-input-title class="text-[2.6vh]">Descrição</app-input-title>
    <div class="flex items-center">
      <ngx-editor [editor]="editor" formControlName="description" class="w-full">
        <div class="bg-gray-100 border border-gray-300">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        </div>
      </ngx-editor>
    </div>
    <div class="text-red-500 font-bold py-2" *ngIf="description?.touched && description?.invalid ">
      <div *ngIf="description?.errors?.['required'] ">Descrição Obrigatório</div>
    </div>
  </div>
  <div class="flex mt-12">

    <button class="border-municip-gray border-2 rounded-md
            hover:bg-municip-blank
            hover:border-municip-blue text-municip-highlight-black
            inline-flex py-3 px-8
            focus:outline-none text-lg
            transition duration-700 ease-in-out justify-center items-center
            "
            (click)="cancel()">
      Voltar
    </button>
    <div class="flex flex-1 justify-end ">
      <app-btn-municip-blue [disabled]="!eventForm.valid" buttonClass="disabled:!cursor-not-allowed"
                            type="submit">
        Submeter Alterações
        <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
      </app-btn-municip-blue>
    </div>

  </div>




</form>
<app-footer />



