<app-card-outline-theme>
  <div class="flex-col text-[2.25rem]">
    O meu município
    <div class="flex">
      <section class="flex-col text-[1.2rem]">
        <p class="font-bold">Concelho: <span class="font-normal">{{county}}</span></p>
        <p class="font-bold">Nº de Habitantes: <span class="font-normal">{{nPopulation | formatNumber3By3Pipe}} habitantes</span></p>
        <p class="font-bold">Email: <span class="font-normal">{{email}}</span></p>
        <p class="font-bold">Telefone: <span class="font-normal">{{phoneNumber | formatNumber3By3Pipe}}</span></p>
      </section>
      <section class="flex-col">
        <img src={{emblem}} alt="Brasão do Município" class="size-40" />
        <app-btn-municip-blue>Mais Informações</app-btn-municip-blue>
      </section>
    </div>
  </div>
</app-card-outline-theme>
