
<footer class="bg-municip-highlight-black flex items-center font-inter justify-between px-32 text-municip-blank">
  <img alt="logo-white"
       src="assets/images/logos/logo-all-white-right.png"
       class="h-60" />
  <section class="text-municip-blank flex space-x-32">
    <div class="space-y-5">
      <h2 class="text-xl">Municip.io</h2>
      <ul class="text-sm space-y-2">
        <li>
          Conheça a plataforma
        </li>
        <li>
          Sobre nós
        </li>
        <li>
          Contacte-nos
        </li>
      </ul>
    </div>
    <div class="space-y-5">
      <h2 class="text-xl">Suporte</h2>
      <ul class="text-sm space-y-2">
        <li>
          Termos de serviço
        </li>
        <li>
          Política de privacidade
        </li>
        <li>
          Legal
        </li>
        <li>
          Política de privacidade
        </li>
      </ul>
    </div>
    <div class="text-sm space-y-10">
      <div class="space-y-2">
        <p>Copyright © 2024 Municip.io</p>
        <p>Todos os direitos reservados</p>
      </div>
      <div class="flex space-x-4">
        <img alt="instragram" src="assets/images/social-icones/social-instagram.png" />
        <img alt="facebook" src="assets/images/social-icones/social-facebook.png" />
        <img alt="x" src="assets/images/social-icones/social-x.png" />
        <img alt="youtube" src="assets/images/social-icones/social-youtube.png" />
      </div>
    </div>
  </section>
</footer>
