<!--<div class="w-80 h-96 flex flex-col items-center justify-center border-solid border-municip-blue border-2 rounded-2xl space-y-5 px-2">
  <h1 class="text-municip-highlight-black font-bold text-2xl">{{cardTitle}}</h1>
  <img src={{cardImage}} alt="image of card" class="w-1/2" />
  <p class="text-center flex-grow">{{cardText}}</p>--> <!-- Added text-center and flex-grow classes -->
<!--</div>-->
  <div class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
    <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-sky-500 transition-all duration-300 group-hover:scale-[10]"></span>
    <div class="relative z-10 mx-auto max-w-md">
      <span class="grid h-20 w-20 place-items-center rounded-full bg-sky-500 transition-all duration-300 group-hover:bg-sky-400">
        <img src={{cardImage}} alt="image of card" class="w-3/4" />


      </span>
      <h1 class="text-municip-highlight-black font-bold text-2xl mt-2">{{cardTitle}}</h1>

      <div class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
        <p>
          {{cardText}}
        </p>
      </div>
      <div class="pt-5 text-base font-semibold leading-7">
        <p>
          <a href="#" class="text-sky-500 transition-all duration-300 group-hover:text-white">
            Prosseguir
            &rarr;
          </a>
        </p>
      </div>
    </div>
  </div>
