<!--<div class="border-2 flex h-96 w-80 flex-col items-center justify-center space-y-5 rounded-2xl border-solid border-municip-blue px-2">
  <h1 class="text-municip-highlight-black text-2xl font-bold">{{cardTitle}}</h1>
  <img src={{cardImage}} alt="image of card" class="w-1/2" />
  <p class="flex-grow text-center">{{cardText}}</p>--> <!-- Added text-center and flex-grow classes -->
<!--</div>-->
  <div class="ring-1 ring-gray-900/5 group relative cursor-pointer overflow-hidden bg-white px-6 pb-8 pt-10 shadow-xl transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">

    <span class="z-0 from-municip-light-blue absolute top-10 h-20 w-20 rounded-full bg-gradient-to-tl to-municip-blue transition-all duration-300 group-hover:scale-[10]"></span>

    <div class="z-10 relative mx-auto max-w-md">
      <span class="from-municip-light-blue grid h-20 w-20 place-items-center rounded-full bg-gradient-to-tl to-municip-blue transition-all duration-300 group-hover:bg-gradient-to-tl group-hover:from-municip-light-blue group-hover:to-municip-blue">
        <img src={{cardImage}} alt="image of card" class="w-2/4" />


      </span>
      <h1 class="text-municip-highlight-black mt-2 text-2xl font-bold transition-all duration-300 group-hover:text-white">{{cardTitle}}</h1>



      <div class="leading-7 space-y-6 pt-5 text-base text-gray-600 transition-all duration-300 group-hover:text-white/90">
        <p>
          {{cardText}}
        </p>
      </div>


      <div class="leading-7 pt-5 text-base font-semibold">
        <p>
          <a href="#" class="text-sky-500 transition-all duration-300 group-hover:text-white">
            Prosseguir
            &rarr;
          </a>
        </p>
      </div>


    </div>


  </div>
