<app-header/>
<div class="mb-40">
  <div class="w-full relative">
    <img src="/assets/images/transports/transports.png" alt="Main photo transports"
         class="object-cover w-full h-96" />
    <div class="absolute bottom-0 pl-20 py-10 bg-municip-highlight-black  w-full text-municip-blank bg-opacity-70
         text-left
         ">
        <h1 class="text-white font-semibold text-4xl opacity-100"> Transportes de</h1>
        <p class="text-gray-200">
          Descubra os transportes disponíveis no nosso município, procurando por linha ou paragem em causa.
        </p>
       </div>
  </div>
</div>
<app-footer/>
