<div class="border-b-2 border-municip-blue px-20 pb-16
     flex justify-between items-center gap-10 ">
  <div class="flex flex-col space-y-10">

    <div class="flex items-baseline space-x-4">
      <h1 class="text-4xl font-roboto font-semibold text-municip-highlight-black">
        {{document.name}} <span class="font-roboto font-normal text-lg pl-4">{{document.type}}</span>
      </h1>
    </div>


     <h3 class="text-[1rem] font-inter font-bold">
        {{document.subTitle}}
     </h3>
      
  </div>
  <div class="flex justify-between">
    <button type="button"
            class=" text-3xl text-municip-blank bg-municip-highlight-black flex justify-center items-center gap-x-2 rounded-2xl w-[10rem] h-[9rem]
        transition duration-300 hover:bg-black">
      Pedir
      <img src="assets/images/arrows/right-arrow.png" alt="Pedir documento" class="size-10" />
      
    </button>
  </div>
</div>
