<div class="px-12 py-8 flex justify-between items-center gap-8 bg-white rounded-xl shadow-2xl hover:shadow-xl">
  <div class="flex flex-col space-y-2">

    <div class="flex items-baseline space-x-2">
      <h1 class="text-3xl font-bold text-gray-800">
        {{ template.name }} <span class="text-lg text-gray-500">{{ template.type }}</span>
      </h1>
    </div>

    <h3 class="text-base font-medium text-gray-500">
      {{ template.description }}
    </h3>

    <h3 class="text-base font-medium text-gray-500">
      {{ template.price }}
    </h3>

  </div>
  <div class="flex items-center">
    <button (click)="sendRequest()" type="button" class="text-lg text-white bg-blue-500 flex justify-center items-center gap-x-2 rounded-full px-6 py-3 transition duration-300 hover:bg-blue-600 hover:text-gray-100 shadow-md">
      <span>Pedir</span>
      <img src="assets/images/arrows/right-arrow.png" alt="Pedir documento" class="w-6 h-6" />
    </button>
  </div>
</div>
