
<app-header-loggedin></app-header-loggedin>
<app-smaller-banner title={{news.title}}
                    [image]="municipality.landscapePhoto ? municipality.landscapePhoto : '/assets/images/placeholder/Landscape placeholder.jpg'"
                    text={{news.subtitle}}></app-smaller-banner>
<div>
  <div class="py-[4rem] text-municip-normal-black font-inter min-h-[28rem] relative flex flex-col gap-y-20 bg-municip-blank px-32 pt-24">
    <div *ngIf="role == 'Municipal'" class="text-[1.063rem] font-roboto absolute -top-3 flex items-center justify-center">

      <app-black-btn-icon-text altImage="Editar Notícia"
                               image="/assets/images/icons/pencil-white.png"
                               routerLink="/news/edit/{{news.id}}">
        Editar Notícia
      </app-black-btn-icon-text>
    </div>
    <img [src]="news.photo ? news.photo : '/assets/images/placeholder/Landscape placeholder.jpg'" alt="Imagem da Notícia"
         class="w-[60rem] h-[30rem] -mt-[3rem] self-center rounded-2xl object-cover" />
  </div>

  <div class="pb-[8rem] bg-municip-blank">
    <div class="w-[70%] container mx-auto pb-5">
      <p class="text-s pb-5 text-gray-500">{{news.date}}</p>
      <p innerHTML="{{news.mainText}}" class="text-municip-normal-black text-[1.2rem] whitespace-pre-line break-words text-center text-justify"></p>
    </div>
  </div>
</div>


<app-footer></app-footer>
