<app-card-outline-theme>
  <div class="flex justify-between px-20 py-10">
    <div class="flex flex-col space-y-10">
      <div>
        <h1 class="font-roboto text-municip-highlight-black text-3xl font-semibold">
          {{document.name}}
        </h1>

        <div class="flex items-center space-x-3 pt-5 hover:cursor-pointer"
             (click)="sendCitizen(document.citizen)">
          <div class="flex h-10 w-10 items-center justify-center rounded-full bg-gray-200"
               >
            <img src="{{document.citizen.photo}}" alt="Document Type Icon" class="h-10 w-10 rounded-full">
          </div>
          <p class="font-roboto text-municip-highlight-black text-lg font-extralight">{{document.citizen.firstName}} &ensp;{{document.citizen.surname}} </p>
        </div>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="flex w-fit flex-col space-y-2">
        <p class="font-inter">Pedido a: {{document.date | date:'dd/MM/yy'}}</p>
        <div class="{{getStatusClass()}} flex justify-center rounded-md bg-opacity-35">
          <p class="font-inter font-semibold">{{getStatusString(this.document.status)}}</p>

        </div>
        <div *ngIf="document.status == 'Pending'"
             class="flex flex-wrap justify-center space-x-10 pt-5">

          <div (click)="waitingPayment(this)"
               class="w-[2.5rem] border-0 relative mr-2 flex h-10 items-center justify-center rounded bg-green-200 py-4 text-lg font-semibold text-municip-blank transition duration-700 ease-in-out hover:cursor-pointer hover:bg-green-300 focus:outline-none">
            <img alt="check" src="/assets/images/icons/check-green (2).png" class="size-3" />
          </div>

          <div (click)="rejectDocument(this)"
               class="w-[2.5rem] border-0 relative mr-2 flex h-10 items-center justify-center rounded bg-red-200 py-4 text-lg font-semibold text-municip-blank transition duration-700 ease-in-out hover:cursor-pointer hover:bg-red-300 focus:outline-none">
            <img alt="delete" src="/assets/images/icons/delete.png" class="size-3.5" />
          </div>

        </div>
      </div>

    </div>
  </div>
</app-card-outline-theme>
