<div class="bg-municip-blank drop-shadow-lg rounded-xl
     w-1/2 flex px-4 py-5 space-x-4 group font-inter" (click)="onClickStop()">
  <div>
    <h3 class="font-bold text-xl ">{{stopTime}}</h3>
    <p class="text-sm">{{calculateTimeRemaining(stopTime)}}</p>
  </div>
  <div class="flex  justify-between items-center">
    <h1 class="flex text-municip-normal-black group-hover:underline "> {{stopName}}</h1>
    <div [ngClass]="{'opacity-30': stopMunicipality !== userMunicipality, 'pointer-events-none': stopMunicipality !== userMunicipality}"
         class="bg-gray-200 rounded-md p-1 size-8 cursor-pointer" (click)="stopMunicipality === userMunicipality ? redirectToStop() : null">
      <img alt="arrow" src="assets/images/icons/arrow.png" class="size-5" />
    </div>
  </div>
</div>
