<div class="bg-municip-blank drop-shadow-lg rounded-xl
     w-1/2 flex px-4 py-5 font-inter space-x-4 font-inter">
  <div>
    <h3 class="font-bold text-xl">{{stopTime}}</h3>
    <p class="text-sm">{{calculateTimeRemaining(stopTime)}}</p>
  </div>
  <div class="flex flex-1 justify-between items-center">
    <h1 class="flex text-municip-normal-black"> {{stopName}}</h1>
    <div class="bg-gray-200  rounded-md p-1 cursor-pointer" (click)="redirectToStop()">
      <img alt="arrow" src="assets/images/icons/arrow.png"
           class="w-4 h-5" />
    </div>
  </div>
</div>
