
<app-header-loggedin></app-header-loggedin>
<app-smaller-banner [title]="'Criar Evento'" [image]="municipalityImage"
                    class="font-inter" />

<form [formGroup]="eventForm" (ngSubmit)="OnSubmit()" class="px-40 mb-32 mt-10">
  <div *ngIf="errors" class=" text-red-500 text-sm font-bold space-y-2 text-start">
    <div *ngFor="let error of errors">
      <p>{{error}}</p>
    </div>
  </div>


  <div class="flex items-center justify-between">
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Título</app-input-title>
      <div class="flex items-center">
        <input required placeholder="Título do evento" type="text" id="title" formControlName="title" name="title"
               class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500" />
      </div>
      <div class="text-red-500 font-bold py-2" *ngIf="title?.touched && title?.invalid ">
        <div *ngIf="title?.errors?.['required'] ">Título Obrigatório</div>
      </div>
    </div>
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Número máximo de participantes</app-input-title>
      <div class="flex items-center">
        <input required placeholder="Capacidade do evento" type="number" id="capacity" formControlName="capacity" name="capacity"
               class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500" />
      </div>
      <div class="text-red-500 font-bold py-2" *ngIf="capacity?.touched && capacity?.invalid">
        <div *ngIf="capacity?.errors?.['required'] ">Capacidade Obrigatória</div>
      </div>
    </div>
  </div>



  <div class="flex items-center justify-between mb-4">

    <div class="w-full lg:w-5/12 mb-4 p-6 shadow-2xl rounded-xl">
      <div>
        <app-input-title class="text-[2.6vh]">Período de Evento</app-input-title>
        <mat-form-field class="inputRange w-full">
          <mat-date-range-input [formGroup]="eventForm" [rangePicker]="pickerEventDate">
            <input matStartDate formControlName="startDate" placeholder="Data de Início">
            <input matEndDate formControlName="endDate" placeholder="  Data de Fim">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="pickerEventDate"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerEventDate></mat-date-range-picker>
        </mat-form-field>
        <div class="text-red-500 font-bold py-2" *ngIf="(startDate?.touched && startDate?.invalid) || (endDate?.touched && endDate?.invalid)">
          <div>Data Obrigatória</div>
        </div>
      </div>

      <div class="w-4/6">
        <div>
          <app-input-title class="text-[2.6vh]">Hora de Início</app-input-title>
          <div class="flex items-center space-x-5">
            <input placeholder="Início do evento" formControlName="startHour"
                   [ngxTimepicker]="startHour" [format]="24" readonly
                   class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px]
focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500">
            <ngx-material-timepicker-toggle [for]="startHour"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #startHour></ngx-material-timepicker>
          </div>
        </div>
        <div>
          <app-input-title class="text-[2.6vh]">Hora de Fim</app-input-title>
          <div class="flex items-center space-x-5">
            <input placeholder="Fim do evento" formControlName="endHour"
                   [ngxTimepicker]="endHour" [format]="24" readonly
                   class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px]
focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500">
            <ngx-material-timepicker-toggle [for]="endHour"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #endHour></ngx-material-timepicker>
          </div>  
        </div>
      </div>
    </div>










    <div class="w-full lg:w-5/12 mb-4 p-6 shadow-2xl rounded-xl">
      <div>
        <app-input-title class="text-[2.6vh]">Período de Inscrição</app-input-title>
        <mat-form-field class="inputRange w-full">
          <mat-date-range-input [formGroup]="eventForm" [rangePicker]="pickerRegistration">
            <input matStartDate formControlName="startRegistrationDate" placeholder="Data de Início">
            <input matEndDate formControlName="endRegistrationDate" placeholder="  Data de Fim">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="pickerRegistration"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerRegistration></mat-date-range-picker>
        </mat-form-field>
        <div class="text-red-500 font-bold py-2" *ngIf="(startRegistrationDate?.touched && startRegistrationDate?.invalid) || (endRegistrationDate?.touched && endRegistrationDate?.invalid)">
          <div>Data de Registo Obrigatória</div>
        </div>
      </div>

      <div class="w-4/6">
        <div>
          <app-input-title class="text-[2.6vh]">Hora de Início</app-input-title>
          <div class="flex items-center space-x-5">
            <input placeholder="Início de Inscrição" formControlName="startRegistrationHour"
                   [ngxTimepicker]="startRegistrationHour" [format]="24" readonly
                   class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px]
focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500">
            <ngx-material-timepicker-toggle [for]="startRegistrationHour"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #startRegistrationHour></ngx-material-timepicker>
          </div>
        </div>
        <div>
          <app-input-title class="text-[2.6vh]">Hora de Fim</app-input-title>
          <div class="flex items-center space-x-5">
            <input placeholder="Fim de Inscrição" formControlName="endRegistrationHour"
                   [ngxTimepicker]="endRegistrationHour" [format]="24" readonly
                   class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px]
focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500">
            <ngx-material-timepicker-toggle [for]="endRegistrationHour"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #endRegistrationHour></ngx-material-timepicker>
          </div>
        </div>
      </div>
    </div>

  </div>





  <div class="flex items-center justify-between ">
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Localização</app-input-title>
      <div class="flex items-center">
        <input required placeholder="Localização do evento" type="text" id="local" formControlName="local" name="local"
               class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500" />
      </div>
      <div class="text-red-500 font-bold py-2" *ngIf="local?.touched && local?.invalid ">
        <div *ngIf="local?.errors?.['required'] ">Local Obrigatório</div>
      </div>
    </div>
    <div class="w-full lg:w-5/12 mb-4 h-32">
      <app-input-title class="text-[2.6vh]">Foto</app-input-title>
      <div class="flex items-center">
        <input type="file" #filePicker id="image" formControlName="image" name="image"
               (change)="onImagePicked($event)" accept="image/*"
               class="input w-full">
        <app-tooltip [tooltipText]="'Utilize o seletor para encontrar a sua foto'"></app-tooltip>
      </div>

    </div>
  </div>


  <div class="w-full mb-4">
    <app-input-title class="text-[2.6vh]">Descrição</app-input-title>
    <div class="flex items-center">
      <textarea required placeholder="Descrição do evento" id="description" formControlName="description" name="description"
                class="input w-full h-30 lg:h-60 focus-visible:ring-municip-blue focus-visible:ring-[1.5px]
                focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500
                resize-none">
      </textarea>
    </div>
    <div class="text-red-500 font-bold py-2" *ngIf="description?.touched && description?.invalid ">
      <div *ngIf="description?.errors?.['required'] ">Descrição Obrigatório</div>
    </div>
  </div>
  <div class="flex flex-1 justify-end mt-12">
    <button type="submit" [disabled]="!eventForm.valid"
            class="self-end h-auto w-[10rem] flex justify-center items-center font-semibold
          text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue
border-0 py-4 hover:cursor-pointer focus:outline-none hover:bg-indigo-600 rounded text-lg
          transition duration-700 ease-in-out">
      Criar Evento
      <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
    </button>
  </div>



</form>
<app-footer/>
