<style>
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
</style>


<div class="w-full relative">
  <img src="{{image}}" alt="Main photo" class="object-cover w-full h-[15rem]" />
  <div class="absolute bottom-0 px-20 py-10 bg-municip-highlight-black h-full w-full text-municip-blank bg-opacity-75
     text-left flex flex-col justify-center">
    <h1 class="text-white font-bold text-5xl font-inter leading-tight text-shadow">{{title}}</h1>
    <p class="text-gray-200 font-inter text-shadow">
      {{text}}
    </p>
  </div>
  <div *ngIf="profileimg" class="absolute right-[10rem] top-[10rem] ">
     <img src="{{profileimg}}" alt="Profile Picture" class="w-48 h-48 rounded-full object-cover">
  </div>
</div>




