<app-card-outline-theme class="mb-20 ">
  <div class="relative flex flex-col font-roboto justify-center text-left gap-x-2 max-w-[28rem] h-[35rem] text-[1.063rem] bg-white p-7">

    <div *ngIf="isMunAdmin" class="absolute -top-3 -left-3">
      <app-black-btn-icon-text altImage="Editar evento"
                               image="/assets/images/icons/pencil-white.png"
                               (buttonClick)="goToEditEventPage()">
        Editar
      </app-black-btn-icon-text>
    </div>

    <div *ngIf="isMunAdmin" class="absolute -top-3 -right-3">
      <app-black-btn-icon-text [justImage]="true"
                               altImage="Remover evento"
                               image="/assets/images/icons/delete-white.png"
                               (buttonClick)="removeEvent()">
      </app-black-btn-icon-text>
    </div>

    <img [src]="event.image" alt="Foto do evento" class="object-cover w-[28rem] h-[16rem] rounded-3xl" />
    <p class="text-[0.96rem] text-right font-open-sans font-semibold">De {{event.startDate | date: "d/MM/yyyy"}} a {{event.endDate | date: "d/MM/yyyy"}}</p>
    <section class="flex flex-col text-municip-highlight-black ">
      <p class="font-bold text-center text-[2rem] text-ellipsis overflow-hidden line-clamp-2">{{event.title}}</p>
      <p class=" font-bold text-ellipsis overflow-hidden line-clamp-3 ">{{event.description}}</p>
    </section>
    <div class="flex justify-between items-center font-open-sans font-extrabold pt-4">
      <div class="flex items-center">
        <img src="/assets/images/icons/user.png" alt="Número de inscrições" class="size-10 mr-2" />
        {{ event.nRegistrations }}/{{ event.capacity }} inscritos
      </div>
      <app-btn-municip-blue width="10rem"
                            (buttonClick)="goToEventPage()">
        Ver Mais
        <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
      </app-btn-municip-blue>
    </div>
  </div>
</app-card-outline-theme>
