<app-card-outline-theme class="mb-20">
  <div class="font-roboto max-w-[28rem] h-[35rem] text-[1.063rem] relative flex flex-col justify-center gap-x-2 bg-white p-7 text-left">

    <div *ngIf="isMunAdmin" class="absolute -left-3 -top-3">
      <app-black-btn-icon-text altImage="Editar evento"
                               image="/assets/images/icons/pencil-white.png"
                               (buttonClick)="goToEditEventPage()">
        Editar
      </app-black-btn-icon-text>
    </div>

    <div *ngIf="isMunAdmin" class="absolute -right-3 -top-3">
      <app-black-btn-icon-text [justImage]="true"
                               altImage="Remover evento"
                               image="/assets/images/icons/delete-white.png"
                               (buttonClick)="removeEvent()">
      </app-black-btn-icon-text>
    </div>

    <img (click)="goToEventPage()" [src]="event.image" alt="Foto do evento" class="w-[28rem] h-[16rem] rounded-3xl object-cover hover:cursor-pointer" />
    <p class="text-[0.96rem] font-open-sans text-right font-semibold">De {{event.startDate | date: "d/MM/yyyy"}} a {{event.endDate | date: "d/MM/yyyy"}}</p>


    <section class="text-municip-highlight-black flex flex-col">
      <a (click)="goToEventPage()"
         class="text-[2rem] line-clamp-2 cursor-pointer overflow-hidden text-ellipsis text-center font-bold hover:underline">
        {{ event.title }}
      </a>

      <p innerHTML="{{event.description}}" class="line-clamp-3 overflow-hidden text-ellipsis font-bold"></p>
    </section>
    <div class="font-open-sans flex items-center justify-between pt-4 font-extrabold">
      <div class="flex items-center">
        <img src="/assets/images/icons/user.png" alt="Número de inscrições" class="mr-2 size-10" />
        {{ event.nRegistrations }}/{{ event.capacity }} inscritos
      </div>
      <app-btn-municip-blue width="10rem"
                            (buttonClick)="goToEventPage()">
        Ver Mais
        <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
      </app-btn-municip-blue>
    </div>
  </div>
</app-card-outline-theme>
