<div class="flex items-center justify-between gap-8 rounded-xl bg-white px-12 py-8 shadow-xl transition-all duration-300 hover:shadow-2xl">


  <div class="flex flex-col space-y-2">

    <div class="flex items-baseline space-x-2">
      <h1 class="text-3xl font-bold text-gray-800">
        {{ document.name }} <span class="text-lg text-gray-500">{{ document.documentTemplate.type }}</span>
      </h1>
    </div>

    <h2 class="text-base font-medium text-gray-500">
      {{ document.documentTemplate.description }}
    </h2>

    <h3 class="text-xl font-bold text-gray-500">
      {{ document.documentTemplate.price }}€
    </h3>


  </div>


  <div class="flex w-fit flex-col space-y-2">
    <p class="font-inter">Pedido em: {{ document.date | date:'dd/MM/yy' }}</p>
    <div class="{{ getStatusClass() }} flex justify-center rounded-md bg-opacity-35">
      <p class="font-inter font-semibold">{{ getStatusString(this.document.status) }}</p>
    </div>


    <div class="flex items-center">
      <button *ngIf="this.document.status === StatusDocument().waitingForPayment" (click)="goToPayment()" class="flex h-12 items-center justify-center rounded-full bg-municip-blue px-4 text-white transition duration-300 ease-in-out hover:bg-blue-700 hover:text-gray-200">
        <span class="font-inter text-sm font-semibold">Realizar Pagamento</span>

      </button>


      <button *ngIf="this.document.status === StatusDocument().approved" (click)="generatePDF()" class="flex h-12 items-center justify-center rounded-full bg-municip-blue px-4 text-white transition duration-300 ease-in-out hover:bg-blue-700 hover:text-gray-200">
        <span class="font-inter text-sm font-semibold">Transferir PDF</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3M6 4v16a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H8a2 2 0 00-2 2z" />
        </svg>
      </button>


    </div>
  </div>
  
  
</div>
