<div class="border-2 border-municip-blue rounded-lg px-20 py-5  shadow-2xl
     flex justify-between">
  <div class="flex flex-col space-y-10">
    <div>
      <h1 class="text-3xl font-roboto font-semibold text-municip-highlight-black">
        {{document.name}}
      </h1>
      <p class="font-roboto font-extralight text-lg text-municip-highlight-black">{{document.type}}</p>
    </div>

    <div class="flex flex-col w-fit space-y-2">
      <p class="font-inter">Pedido a: {{document.date | date:'dd/MM/yy'}}</p>
      <div class="flex justify-center rounded-md bg-opacity-35 {{getStatusClass()}}"
           >
        <p class="font-inter font-semibold">{{document.status}}</p>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
  <app-btn-municip-blue buttonClass="h-40 rounded-full !p-0 !w-40"
                        type="submit">
    Ver Mais
    <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
  </app-btn-municip-blue>
  </div>
</div>
