<header class="bg-white" [ngClass]="{ 'visible': isVisible }">
  <div class="py-[0.7rem] font-poppins flex w-full items-center px-3 shadow-md">

    <img (click)="goToHomePage()" class="pl-[2rem] w-56 hover:cursor-pointer" alt="logo" src="/assets/images/logos/logo-black-right.png" />

    <ul class="flex w-full justify-around">
      <li *ngIf="role !== Roles.Admin" class="decoration-sky-500 transition-all duration-700 ease-in-out">

        <a (click)="goToHomePage()" class="group hover:cursor-pointer">
          Home
          <span class="block h-0.5 max-w-0 bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>
        </a>
      </li>

      <li *ngIf="role !== Roles.Admin" class="group" (click)="setActiveDropdown(Dropdowns.Municipality)">
        <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
          Município
          <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>
        <div *ngIf="showDropdownMunicipality" class="dropdown mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/municipal/profile" class="block px-4 py-2 hover:bg-gray-100">Ver Município</a>
            </li>

            <ng-container *ngIf="role===Roles.Municipal">
              <li>
                <a routerLink="/munadmin-dashboard" class="block px-4 py-2 hover:bg-gray-100">Gerir Cidadãos</a>
              </li>
              <li>
                <a routerLink="/municipal/edit" class="block px-4 py-2 hover:bg-gray-100">Editar Município</a>
              </li>
              <li>
                <a routerLink="/munadminstatistics" class="block px-4 py-2 hover:bg-gray-100">Estatísticas</a>
              </li>
              <li>
                <a routerLink="/manageAppFeatures" class="block px-4 py-2 hover:bg-gray-100">Editar Funcionalidades</a>
              </li>
            </ng-container>

          </ul>
        </div>
      </li>

      <li *ngIf="isEventsFeatureActive() && role !== Roles.Admin" class="group" (click)="setActiveDropdown(Dropdowns.Events)">
        <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
          Agenda
          <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>
        <div *ngIf="showDropdownAgenda" class="dropdown mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/events/" class="block px-4 py-2 hover:bg-gray-100">Ver Eventos</a>
            </li>

            <ng-container *ngIf="role===Roles.Citizen">
              <li>
                <a routerLink="/events/myEvents" class="block px-4 py-2 hover:bg-gray-100">Meus Eventos</a>
              </li>

              <li>
                <a routerLink="/events/calendar" class="block px-4 py-2 hover:bg-gray-100">Calendário Pessoal</a>
              </li>

            </ng-container>

            <ng-container *ngIf="role===Roles.Municipal">
              <li>
                <a routerLink="/events/create" class="block px-4 py-2 hover:bg-gray-100">Criar Evento</a>
              </li>
              <li>
                <a routerLink="/events/municipal-calendar" class="block px-4 py-2 hover:bg-gray-100">Calendário de Eventos</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </li>





      <li *ngIf="isLibraryFeatureActive() && role !== Roles.Admin" class="group" (click)="setActiveDropdown(Dropdowns.Library)">
        <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
          Biblioteca
          <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>

        <div *ngIf="showDropdownBiblioteca" class="dropdown mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/library" class="block px-4 py-2 hover:bg-gray-100">Página Principal</a>
            </li>
            <li>
              <a routerLink="/library/librarylist" class="block px-4 py-2 hover:bg-gray-100">Ver Livros</a>
            </li>


            <li *ngIf="role === Roles.Citizen">
              <a routerLink="/library/my" class="block px-4 py-2 hover:bg-gray-100">Os meus Livros</a>
            </li>
            <ng-container *ngIf="role===Roles.Municipal">
              <li>
                <a routerLink="/library/requests" class="block px-4 py-2 hover:bg-gray-100">Requisições</a>
              </li>
              <li>
                <a routerLink="/library/create" class="block px-4 py-2 hover:bg-gray-100">Criar Livro</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </li>

      <li *ngIf="isDocumentsFeatureActive() && role !== Roles.Admin" class="group" (click)="setActiveDropdown(Dropdowns.Documents)">
        <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
          Documentos
          <span *ngIf="role ===Roles.Municipal && numberOfRequests != 0" class="ml-2 rounded bg-yellow-500 px-2 py-1 text-xs font-bold text-yellow-900">{{numberOfRequests}}</span>

          <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>
        <div *ngIf="showDropdownDocumentos" class="dropdown mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/documents/" class="block px-4 py-2 hover:bg-gray-100">Página Principal</a>
            </li>
            <li *ngIf="role ===Roles.Citizen">
              <a routerLink="/documents/request" class="block px-4 py-2 hover:bg-gray-100">Pedir Documentos</a>
            </li>
            <li *ngIf="role ===Roles.Citizen">
              <a routerLink="/documents/my" class="block px-4 py-2 hover:bg-gray-100">Os Meus Documentos</a>
            </li>
            <li *ngIf="role ===Roles.Municipal">
              <a routerLink="/documents/approve" class="block px-4 py-2 hover:bg-gray-100">Aprovar Documentos</a>
            </li>

            <ng-container *ngIf="role===Roles.Municipal">

              <li>
                <a routerLink="/documents/template-list" class="block px-4 py-2 hover:bg-gray-100">Lista de Templates</a>
              </li>
              <li>
                <a routerLink="/documents/createtemplate" class="block px-4 py-2 hover:bg-gray-100">Criar Template</a>

              </li>

            </ng-container>


          </ul>
        </div>
      </li>

      <li *ngIf="isNewsFeatureActive() && role !== Roles.Admin" class="group" (click)="setActiveDropdown(Dropdowns.News)">
        <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
          Notícias
          <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>

        <div *ngIf="showDropdownNoticias" class="dropdown mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/news" class="block px-4 py-2 hover:bg-gray-100">Ver Notícias</a>
            </li>
            <li *ngIf="role == 'Municipal'">
              <a routerLink="/news/news-create" class="block px-4 py-2 hover:bg-gray-100">Criar Notícia</a>
            </li>
          </ul>
        </div>
      </li>

      <li *ngIf="isTransportsFeatureActive() && role !== Roles.Admin" class="group" (click)="setActiveDropdown(Dropdowns.Transports)">
        <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
          Transportes
          <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>

        <div *ngIf="showDropdownTransportes" class="dropdown mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/transports" class="block px-4 py-2 hover:bg-gray-100">Transportes do Município</a>
            </li>
            <li>
              <a routerLink="/transports/stops" class="block px-4 py-2 hover:bg-gray-100">Paragens do Município</a>
            </li>
            <li>
              <a routerLink="/transports/schedules" class="block px-4 py-2 hover:bg-gray-100">Horários</a>
            </li>

          </ul>
        </div>
      </li>
      <li *ngIf="role == Roles.Admin" class="decoration-sky-500 transition-all duration-700 ease-in-out">

        <a routerLink="/admindashboard" class="group hover:cursor-pointer">
          Gerir Municípios e Administradores
          <span class="block h-0.5 max-w-0 bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>
        </a>
      </li>

      <li *ngIf="role == Roles.Admin" class="decoration-sky-500 transition-all duration-700 ease-in-out">

        <a routerLink="/adminstatistics" class="group hover:cursor-pointer">
          Estatísticas Gerais
          <span class="block h-0.5 max-w-0 bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>
        </a>
      </li>
    </ul>


    <div class="relative flex min-w-fit justify-end space-x-3" *ngIf="isSignedIn && role !== Roles.Admin">
      <div class="flex items-center space-x-2">
        <img src="{{ user.photo }}" alt="{{ user.firstName }}" class="h-10 w-10 rounded-full">

        <div class="group" (click)="setActiveDropdown(Dropdowns.SignOut)">
          <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
            Bem-vindo, {{user.firstName}}
            <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>

          <div *ngIf="showSignOutDropdown" class="dropdown right-0 mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
            <ul class="py-2 text-sm text-gray-700">
              <li>
                <a routerLink="/" (click)="signOut()" class="block px-4 py-2 hover:bg-gray-100">
                  Terminar Sessão
                </a>
              </li>
              <li>
                <a routerLink="/userpage" class="block px-4 py-2 hover:bg-gray-100">O meu Perfil</a>


                <div *ngIf="role===Roles.Municipal">
                  <a routerLink="/municipal/profile" class="block px-4 py-2 hover:bg-gray-100">Perfil Administração</a>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="relative flex min-w-fit justify-end space-x-3" *ngIf="isSignedIn && role == Roles.Admin">
      <div class="flex items-center space-x-2">

        <div class="group" (click)="setActiveDropdown(Dropdowns.SignOut)">
          <button class="flex items-center decoration-sky-500 transition-all duration-700 ease-in-out">
            Bem-vindo, Administrador
            <svg class="ml-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <span class="flex h-0.5 max-w-0 self-center bg-sky-600 transition-all duration-500 group-hover:max-w-full"></span>

          <div *ngIf="showSignOutDropdown" class="dropdown right-0 mt-1 w-44 divide-y divide-gray-100 rounded-lg bg-white shadow">
            <ul class="py-2 text-sm text-gray-700">
              <li>
                <a routerLink="/" (click)="signOut()" class="block px-4 py-2 hover:bg-gray-100">
                  Terminar Sessão
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
