<header class="font-">
  <div class="flex items-center w-full shadow-md py-[0.7rem] px-3 font-poppins">

    <img class="w-56 pl-[2rem]" alt="logo" src="/assets/images/logos/logo-black-right.png" />

    <ul class="flex w-full justify-around ">
      <li class="transition-all duration-700 ease-in-out  decoration-sky-500">
        <a routerLink="/" class="group">
          Home
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
        </a>
      </li>

      <li class="   transition-all duration-700 ease-in-out  decoration-sky-500">
        <a routerLink="" class="group">
          Municipio
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
        </a>
      </li>

      <li class="relative group" (click)="setActiveDropdown(Dropdowns.Events)">
        <button class="transition-all duration-700 ease-in-out decoration-sky-500 flex items-center">
          Agenda
          <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex self-center max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
        <div *ngIf="showDropdownAgenda" class="dropdown absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 top-full left-0 mt-1">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/events/" class="block px-4 py-2 hover:bg-gray-100">Eventos</a>
            </li>

            <span *ngIf="role===Roles.Citizen">
            <li>
              <a routerLink="/events/calendar" class="block px-4 py-2 hover:bg-gray-100">Calendário Pessoal</a>
            </li>
            <li>
              <a routerLink="/events/myEvents" class="block px-4 py-2 hover:bg-gray-100">Meus Eventos</a>
            </li>
            </span>

            <span *ngIf="role===Roles.Municipal">
            <li>
              <a routerLink="/events/create" class="block px-4 py-2 hover:bg-gray-100">Criar</a>
            </li>
            </span>



          </ul>
        </div>
      </li>





      <li class="relative group" (click)="setActiveDropdown(Dropdowns.Library)">
        <button class="   transition-all duration-700 ease-in-out decoration-sky-500 flex items-center">
          Biblioteca
          <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex self-center max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>

        <div *ngIf="showDropdownBiblioteca" class="dropdown absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 top-full left-0 mt-1">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 1</a>
            </li>
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 2</a>
            </li>
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 3</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="relative group" (click)="setActiveDropdown(Dropdowns.Documents)">
        <button class="   transition-all duration-700 ease-in-out decoration-sky-500 flex items-center">
          Documentos
          <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex self-center max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>
        <div *ngIf="showDropdownDocumentos" class="dropdown absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 top-full left-0 mt-1">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 1</a>
            </li>
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 2</a>
            </li>
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 3</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="relative group" (click)="setActiveDropdown(Dropdowns.News)">
        <button class="   transition-all duration-700 ease-in-out decoration-sky-500 flex items-center">
          Notícias
          <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex self-center max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>

        <div *ngIf="showDropdownNoticias" class="dropdown absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 top-full left-0 mt-1">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 1</a>
            </li>
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 2</a>
            </li>
            <li>
              <a routerLink="/agenda/" class="block px-4 py-2 hover:bg-gray-100">opção 3</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="relative group" (click)="setActiveDropdown(Dropdowns.Transports)">
        <button class="   transition-all duration-700 ease-in-out decoration-sky-500 flex items-center">
          Transportes
          <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <span class="flex self-center max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>

        <div *ngIf="showDropdownTransportes" class="dropdown absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 top-full left-0 mt-1">
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a routerLink="/transports/stops" class="block px-4 py-2 hover:bg-gray-100">Paragens do Município</a>
            </li>
            <li>
              <a routerLink="/transports/schedules" class="block px-4 py-2 hover:bg-gray-100">Horários</a>
            </li>

          </ul>
        </div>
      </li>

    </ul>

    <div class="space-x-3 flex justify-end min-w-fit relative" *ngIf="isSignedIn">
      <div class="flex items-center space-x-2">
        <img src="{{ user.photo }}" alt="{{ user.firstName }}" class="w-10 h-10 rounded-full">

        <div class="relative group" (click)="showSignOutDropdown=!showSignOutDropdown">
          <button class="transition-all duration-700 ease-in-out  decoration-sky-500 flex items-center">
            Bem-vindo, {{user.firstName}}
            <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <span class="flex self-center max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-sky-600"></span>

          <div *ngIf="showSignOutDropdown" class="dropdown absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 right-0 mt-1">
            <ul class="py-2 text-sm text-gray-700">
              <li>
                <button routerLink="/" (click)="signOut()" class=" text-black px-2 py-1 rounded-md hover:bg-sky-500 transition-all duration-500 ease-in-out">
                  Terminar Sessão
                </button>
              </li>
              <li>
                <div *ngIf="role=== Roles.Citizen">
                  <a routerLink="/citizen/profile" class="block px-4 py-2 hover:bg-gray-100">O meu Perfil </a>

                </div>

                <div *ngIf="role===Roles.Municipal">
                  <a routerLink="/municipal/profile" class="block px-4 py-2 hover:bg-gray-100">Perfil Administração</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
