<div class="flex justify-between">
  <div class="flex cursor-pointer font-medium">
    <div mwlCalendarPreviousView
         [view]="view"
         [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay()"
         class="bg-blue-400 p-2 rounded-l-lg text-municip-blank
           hover:bg-blue-900 transition-all duration-500 ease-in-out
           ">
      Anterior
    </div>
    <div mwlCalendarToday
         [(viewDate)]="viewDate"
         (viewDateChange)="viewDateChange.next(viewDate)"
         class="p-2 border-[0.5px] border-municip-normal-black
            hover:bg-gray-300 transition-all duration-500 ease-in-out
           ">
      Hoje
    </div>
    <div mwlCalendarNextView
         [view]="view"
         [(viewDate)]="viewDate"
         (viewDateChange)="closeOpenMonthViewDay()"
         class="bg-blue-400 p-2 rounded-r-lg text-municip-blank
           hover:bg-blue-900 transition-all duration-500 ease-in-out">
      Próximo
    </div>
  </div>
  <div>
    <h3 class="text-3xl font-bold">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
  </div>
  <div class="flex cursor-pointer font-medium">
    <div (click)="viewChange.emit(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
         class="bg-blue-400 p-2 rounded-l-lg text-municip-blank
         hover:bg-blue-900 transition-all duration-500 ease-in-out">
      Mês
    </div>
    <div (click)="viewChange.emit(CalendarView.Week)"
         [class.active]="view === CalendarView.Week"
         class="p-2 bg-blue-400 text-municip-blank
            hover:bg-blue-900 transition-all duration-500 ease-in-out">
      Semana
    </div>
    <div (click)="viewChange.emit(CalendarView.Day)"
         [class.active]="view === CalendarView.Day"
         class="bg-blue-400 p-2 rounded-r-lg text-municip-blank
           hover:bg-blue-900 transition-all duration-500 ease-in-out">
      Dia
    </div>
  </div>
</div>
<br />
