<app-header></app-header>
<app-big-banner image="/assets/images/bannerSetubal.jpg" title="Município de Setúbal"
                text="Setúbal, uma encantadora cidade portuguesa banhada pelo azul intenso do Oceano Atlântico,
                é um tesouro situado na região da Península de Setúbal. Com uma rica história que remonta à antiguidade,
                a cidade combina o charme de seu patrimônio histórico com a beleza natural que a rodeia.
"></app-big-banner>
<div class="my-[4rem] mx-32 space-y-20">
  <div class="flex">
    <section class="flex flex-col space-y-20 w-[140rem]">
      <app-my-municipality-card county="Setúbal" nPopulation="127000000" email="camara.setubal@cm-setubal.pt"
                                phoneNumber="265456789" emblem="/assets/images/brasaoSetubal.jpg"
                                class="max-w-[50rem]"></app-my-municipality-card>
      <app-my-data-card firstName="Maria" lastName="Albertina dos Anjos" email="maria.albertina@gamail.com"
                        [birthDate]="date1" address="Ruas das Flores Nº5" nif="265456789"
                        profilePicture="/assets/images/maria.jpg"
                        class="max-w-[50rem]"></app-my-data-card>
    </section>
    <div class="w-1 bg-gradient-to-tl from-municip-light-blue to-municip-blue rounded mx-[5vw] "></div>
    <section class="flex flex-col grow space-y-7 justify-center items-center">
      <div class="flex items-center font-open-sans text-[1.5rem] font-extrabold">
        <img src="/assets/images/icons/newspaper-folded.png" alt="Notícias" class="size-10 mr-5 " />
        NOTÍCIAS DE SETÚBAL
      </div>
      <ul class="space-y-7">
        <li>
          <app-news-small image="/assets/images/carnaval.jpg" title="Setúbal sai à rua para brincar ao Carnaval"
                          text="Setúbal vive o Carnaval de 2024 por todo o concelho, com um conjunto variado de
                      atividades associadas aos festejos, de que se destacam duas tardes de animação no centro
                      da cidade, a 11 e 13 de fevereiro."></app-news-small>
        </li>
        <li>
          <app-news-small image="/assets/images/carnaval.jpg" title="Setúbal sai à rua para brincar ao Carnaval"
                          text="Setúbal vive o Carnaval de 2024 por todo o concelho, com um conjunto variado de
                atividades associadas aos festejos, de que se destacam duas tardes de animação no centro
                da cidade, a 11 e 13 de fevereiro."></app-news-small>
        </li>
        <li>
          <app-news-small image="/assets/images/carnaval.jpg" title="Setúbal sai à rua para brincar ao Carnaval"
                          text="Setúbal vive o Carnaval de 2024 por todo o concelho, com um conjunto variado de
                atividades associadas aos festejos, de que se destacam duas tardes de animação no centro
                da cidade, a 11 e 13 de fevereiro."></app-news-small>
        </li>
      </ul>
    </section>
  </div>
  <section class="flex flex-col space-y-7 justify-center items-center">
    <div class="flex items-center font-open-sans text-[1.5rem] font-extrabold">
      <img src="/assets/images/icons/event.png" alt="Notícias" class="size-10 mr-5 " />
      PRÓXIMOS EVENTOS DE SETÚBAL
    </div>
    <div class="flex justify-center items-center space-x-7">
      <button class="flex justify-center items-center bg-black rounded-full size-12" (click)="moveLeft()">
        <img src="/assets/images/arrows/right-arrow.png" class="size-6 rotate-180" />
      </button>
      <ul class="flex space-x-7 justify-center">
        <ng-container *ngFor="let event of events.slice(startIndex, startIndex + 4)">
          <li *ngIf="event">
            <app-events-small [image]="event.image" [title]="event.title" [date]="event.date"></app-events-small>
          </li>
        </ng-container>
      </ul>
      <button class="flex justify-center items-center bg-black rounded-full size-12" (click)="moveRight()">
        <img src="/assets/images/arrows/right-arrow.png" class="size-6" />
      </button>
    </div>
  </section>
</div>
<app-footer></app-footer>
