<app-header-loggedin></app-header-loggedin>

<app-smaller-banner [image]="municipality.landscapePhoto ? municipality.landscapePhoto : '/assets/images/placeholder/Landscape placeholder.jpg'"
                    [title]="'Criar Notícia'"
                    [text]="'Criação uma nova notícia'">
</app-smaller-banner>

<ng-container *ngIf="isDialogOpen">
  <app-dialog-message (confirm)="closeDialog()" title="Sucesso" message="Operação realizada com sucesso"
                      [isConfirm]=true></app-dialog-message>
</ng-container>

<div class="flex justify-center items-center pt-11 ">
  <div class="container w-[60%]">
    <form [formGroup]="newsCreateForm" (ngSubmit)="OnSubmit()" class="w-full">
      <div *ngIf="errors" class=" text-red-500 text-sm font-bold space-y-2 text-start">
        <div *ngFor="let error of errors">
          <p>{{error}}</p>
        </div>
      </div>
      <div class="p-0 w-full">
        <section class="flex flex-col text-left space-y-7">
          <div class="w-full mb-4">
            <app-input-title class="text-[2.6vh] ml-1/4">Titulo</app-input-title>
            <div class="flex items-center">
              <input required placeholder="Titulo" type="text" id="title" formControlName="title" name="title" [(ngModel)]="news.title"
                     class="input w-full h-12 lg:h-14 focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500" />
            </div>
            <div class="text-red-500 font-bold py-2" *ngIf="title?.touched && title?.invalid ">
              <div *ngIf="title?.errors?.['required'] ">Título Obrigatório</div>
            </div>
          </div>

          <div class="w-full mb-4">
            <app-input-title class="text-[2.6vh] ml-1/4">Subtitulo</app-input-title>
            <div class="relative w-full">
              <textarea required placeholder="Subtitulo (Maximo 300 caracteres)" id="subtitle" formControlName="subtitle" name="subtitle" [(ngModel)]="news.subtitle" maxlength="300"
                        class="input text-left resize-none w-full h-[auto] lg:h-[10rem] focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500"
                        (input)="updateCharacterCount($event)"></textarea>
              <span class="absolute bottom-2 right-2 text-gray-500">{{ subtitleCharacterCount }}/300</span>
            </div>

            <div class="text-red-500 font-bold py-2" *ngIf="subtitle?.touched && subtitle?.invalid ">
              <div *ngIf="subtitle?.errors?.['required'] ">Subtítulo Obrigatório</div>
            </div>

          </div>

          <div>
            <app-input-title class="text-[1.4rem]">Imagem da Capa</app-input-title>
            <div class="h-20 table w-full bg-[#F5F5F7] rounded-[0.375rem] border-2 border-dotted border-[#bbbabc]" (dragover)="onDragOver($event)"
                 (drop)="onDrop($event)" (click)="filePicker.click()">

              <div class="table-cell align-middle">
                <div class="text-center">
                  <input type="file" #filePicker (change)="onFileChange($event)" accept="image/*" capture class="hidden">

                  <label for="file" class="flex justify-center items-center p-5 hover:cursor-pointer">Seleciona uma imagem ou arrasta-a para aqui!</label>

                  <div *ngIf="image" class="flex items-center justify-center pb-2">
                    <img [src]="imageUrl" alt="Imagem carregada" class="w-[10rem] h-[10rem] object-cover ">
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="w-full mb-4">
            <app-input-title class="text-[2.6vh] ml-1/4">Corpo da Notícia</app-input-title>
            <ngx-editor [editor]="editor" formControlName="mainText">
              <div class="bg-gray-100 border border-gray-300">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" ></ngx-editor-menu>
              </div>
            </ngx-editor>
            <div class="text-red-500 font-bold py-2" *ngIf="mainText?.touched && mainText?.invalid">
              <div *ngIf="mainText?.errors?.['required']">Corpo da Notícia Obrigatório</div>
            </div>
          </div>



          <div class="flex justify-end pb-10">
            <button type="submit" [disabled]="!newsCreateForm.valid || !image"
                    class="relative text-municip-blank h-auto w-[10rem] flex justify-center items-center
                    bg-gradient-to-tl from-municip-light-blue to-municip-blue border-0 py-3 px-8
               focus:outline-none rounded text-lg
               bg-[position:_0%_0%] hover:bg-[position:_100%_100%] bg-[size:_200%]
               transition-all duration-300 disabled:cursor-not-allowed">

              Criar Notícia
              <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
            </button>
          </div>
        </section>
      </div>
    </form>
  </div>
</div>



<app-footer />

