<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

</head>
<app-header-loggedin></app-header-loggedin>


<app-smaller-banner title="Os Meus Eventos"
                    [image]="municipality.landscapePhoto ? municipality.landscapePhoto : '/assets/images/placeholder/Landscape placeholder.jpg'"></app-smaller-banner>



<div class="py-[4rem] text-municip-normal-black min-h-[28rem] relative flex flex-col gap-y-20 bg-municip-blank px-32 pt-24">

  <div class="text-[1.063rem] font-roboto absolute -top-3 flex items-center justify-center gap-4">
    <app-black-btn-icon-text altImage="Eventos do meu Município"
                             image="/assets/images/icons/event-white.png"
                             (buttonClick)="goToMunicipalEventsPage()">
      Eventos do meu Município
    </app-black-btn-icon-text>

    <app-black-btn-icon-text altImage="Ver o meu Calendário"
                             image="/assets/images/icons/calendar-white.png"
                             (buttonClick)="goToCalendarPage()">
      Ver o meu Calendário
    </app-black-btn-icon-text>
  </div>


  <div class="-mt-[3rem] flex items-center justify-between space-x-4">
    <div class="w-[50rem] relative">
      <label for="nameSearch" class="sr-only">Procurar por eventos</label>
      <div class="flex items-center">
        <i class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
          <span class="fas fa-search"></span>
        </i>
        <input type="text" id="nameSearch" [(ngModel)]="nameSearch" placeholder="Procurar por eventos"
               class="trasition w-full rounded-2xl border px-4 py-2 pl-10 duration-300 hover:border-black">
      </div>
    </div>
    <p-selectButton [options]="orderOptions" [(ngModel)]="ascendingOrder" optionLabel="label" optionValue="value" [unselectable]="true"
                    (onChange)="toggleSortOrder()"
                    styleClass="orderOptions">
    </p-selectButton>
  </div>
  <div *ngIf="showEvents.length === 0"
       class="text-municip-normal-black flex grow items-center justify-center">
    <p class="text-[3rem] font-semibold">Não está inscrito a nenhum evento.</p>
  </div>
  <div *ngIf="showEvents.length > 0"
       infiniteScroll
       [infiniteScrollDistance]="10"
       [infiniteScrollThrottle]="500"
       (scrolled)="onScrollDown()"
       [alwaysCallback]="true">
    <section class="flex flex-wrap justify-around gap-y-16">
      <div *ngIf="filteredEvents.length === 0"
           class="text-municip-normal-black text-[2rem] flex grow flex-col items-center justify-center space-y-4">
        <p class="font-semibold">A sua pesquisa - “{{nameSearch}}” - não encontrou nenhum evento.</p>
        <div class="text-[1.3rem]">
          Sugestões:
          <ul>
            <li>&#8226; Certifique-se de que nenhuma palavra contém erros ortográficos.</li>
            <li>&#8226; Tente utilizar outras palavras-chave.</li>
          </ul>
        </div>
      </div>
      <ng-container *ngFor="let event of filteredEvents">

        <app-event-card [event]="event"></app-event-card>
      </ng-container>
    </section>
  </div>
</div>
<app-footer class="flex-shrink-0"></app-footer>
