<app-header-loggedin></app-header-loggedin>
<app-big-banner [image]="municipality.landscapePhoto!" title="Município de {{municipality.name}}"
                text={{municipality.description}}></app-big-banner>
<div class="flex flex-col my-[4rem] mx-32 space-y-20">
  <div class="flex">
    <section class="flex flex-col space-y-20 w-[140rem]">
      <app-my-municipality-card [district]="municipality.distrito"
                                [nPopulation]="municipality.populacao"
                                [email]="municipality.email"
                                [phoneNumber]="municipality.telefone"
                                [emblem]="municipality.emblemPhoto!">
      </app-my-municipality-card>

      <app-my-data-card [firstName]="user.firstName"
                        [lastName]="user.surname"
                        [email]="user.email"
                        [birthDate]="user.birthDate"
                        [address]="user.address"
                        [nif]="user.nif"
                        [photo]="user.photo!">
      </app-my-data-card>

    </section>
    <div class="w-1 bg-gradient-to-tl from-municip-light-blue to-municip-blue rounded mx-[5vw] "></div>
    <section class="flex flex-col grow space-y-7 justify-center items-center">
      <div class="flex items-center font-open-sans text-[1.5rem] font-extrabold">
        <img src="/assets/images/icons/newspaper-folded.png" alt="Notícias" class="size-10 mr-5 " />
        NOTÍCIAS DE {{ municipality.name | uppercase }}
      </div>
      <ul class="space-y-7">
        <li>
          <app-news-small image="/assets/images/carnaval.jpg" title="Setúbal sai à rua para brincar ao Carnaval"
                          text="Setúbal vive o Carnaval de 2024 por todo o concelho, com um conjunto variado de
                      atividades associadas aos festejos, de que se destacam duas tardes de animação no centro
                      da cidade, a 11 e 13 de fevereiro."></app-news-small>
        </li>
        <li>
          <app-news-small image="/assets/images/carnaval.jpg" title="Setúbal sai à rua para brincar ao Carnaval"
                          text="Setúbal vive o Carnaval de 2024 por todo o concelho, com um conjunto variado de
                atividades associadas aos festejos, de que se destacam duas tardes de animação no centro
                da cidade, a 11 e 13 de fevereiro."></app-news-small>
        </li>
        <li>
          <app-news-small image="/assets/images/carnaval.jpg" title="Setúbal sai à rua para brincar ao Carnaval"
                          text="Setúbal vive o Carnaval de 2024 por todo o concelho, com um conjunto variado de
                atividades associadas aos festejos, de que se destacam duas tardes de animação no centro
                da cidade, a 11 e 13 de fevereiro."></app-news-small>
        </li>
      </ul>
    </section>
  </div>
  <app-next-events [events]="events" [municipalityName]="municipality.name"></app-next-events>
</div>

<app-footer></app-footer>
