<div class="flex text-[16px] font-poppins">
  <div class="h-screen grow bg-gradient-to-tl from-municip-light-blue to-municip-blue flex items-center justify-center">
    <div class="flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="size-8/12 drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]" />
    </div>
  </div>
  <div class="h-screen w-[160rem] flex items-center justify-center overflow-auto">
    <div class="flex flex-col px-16 h-full max-w-[100%]">
      <h1 class="font-black text-[30px] text-black mt-3">Pré-Visualizar Documento</h1>

      <div class="py-[1rem] h-full">
        <button (click)="downloadPDFAndNavigate()" class="flex items-center justify-center h-12 rounded-full bg-municip-blue text-white px-4 transition duration-300 ease-in-out hover:bg-blue-700 hover:text-gray-200">
          <span class="font-inter font-semibold text-sm">Transferir PDF</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3M6 4v16a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H8a2 2 0 00-2 2z" />
          </svg>
        </button>
        <br />
        <div class="mx-auto border-black overflow-hidden border-solid border-4 min-h-[50rem] max-w-[40rem]" style="line-height: 1.9;">
          <div id="contentToConvert" class="p-16">
            <div class="flex items-center justify-between mb-8 px-3">
              <div>
                <span class="text-2xl">{{document?.documentTemplate?.name}}</span>:     {{document?.id}}<br />
                <span>Data</span>:  {{ document?.date | date:'dd-MM-yyyy' }}<br />
              </div>
              <div class="text-right">
                <!--<img [src]="municipalityInfo?.emblemPhoto" style="width: 70px; height: 70px;" />-->
              </div>
            </div>

            <div class="flex justify-between mb-8 px-3">
              <div>
                Município de {{document?.municipality}}<br />
                {{municipalityInfo.codigopostal}}<br />
                {{municipalityInfo.codigo}}<br />
              </div>
              <div class="text-right">
                {{ municipalityInfo.email}}<br />
                {{ municipalityInfo.telefone}}<br />
                {{ municipalityInfo.sitio}}<br />
              </div>
            </div>

            <p class="text-base" style="word-wrap: break-word;">{{ replacedText }}</p>
            <!-- Adicionado o estilo de quebra de palavra -->
            <br />
            <footer style="position:relative; bottom: 0;  text-align: center;">
              <div class="mb-8 text-1xl text-center px-3">
                <span>Atesta com veracidade o presidente do município: <br /> {{municipalityInfo.president}}</span>
              </div>

              <div class="text-center text-sm px-3">
                {{ municipalityInfo.email}}<br />
                {{ municipalityInfo.telefone}}<br />
                {{ municipalityInfo.sitio}}
              </div>
            </footer>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
