

<div class="flex text-[16px] font-poppins">
  <div class="h-screen w-3/5 bg-gradient-to-tl from-municip-light-blue to-municip-blue flex items-center justify-center">
    <div class=" flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="size-8/12 drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]" />
    </div>
  </div>
  <div class="h-screen w-2/5 flex items-center justify-center">
    <div class="flex flex-col">
      <h1 class="font-black text-[30px] text-black  my-2">Login</h1>
      <h2 class="font-medium text-xl text-municip-normal-black mb-2">Insira os seus dados</h2>
      <div class="py-[1rem]">
        <form class="flex flex-col space-y-4 items-center">
          <input placeholder="Email" type="email" id="email" name="email" class="input w-[20rem]
                 focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset
                 transition-all duration-700 ease-in-out  decoration-sky-500">
          <!--<input placeholder="Palavra-Passe" type="password" id="password" name="password" class="input w-[20rem]
          focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset
          transition-all duration-700 ease-in-out  decoration-sky-500">-->
          <app-show-hide-password />
          <button class="h-auto w-[20rem] flex justify-center items-center font-semibold text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue
                  border-0 py-3 focus:outline-none hover:bg-indigo-600 rounded text-lg transition duration-700 ease-in-out">
            Entrar
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </button>
        </form>
      </div>
      <hr class="rounded-3xl border-t-[#ECECF0] my-4" />
      <div class="text-right font-medium text-municip-normal-black ">Não tem conta? <a routerLink="/signUp-SelectAccountType" class="cursor-pointer font-bold text-black ml-2 hover:underline">Registe-se</a></div>
    </div>
  </div>
</div>



