

<div class="text-[16px] font-poppins flex">
  <div class="from-municip-light-blue flex h-screen grow items-center justify-center bg-gradient-to-tl to-municip-blue">
    <div class="flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] animate-myBounceAnim size-8/12" />
    </div>
  </div>
  <div class="w-[79rem] flex h-screen items-center justify-center">
    <div class="flex flex-col px-16">
      <h1 class="font-black text-[30px] my-2 text-black">Login</h1>
      <h2 class="text-municip-normal-black mb-2 text-xl font-medium">Insira os seus dados</h2>
      <div class="py-[1rem]">
        <form class="flex flex-col items-center space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="space-y-2 text-start text-sm font-bold text-red-500">
              <p>{{error}}</p>
          </div>
          <input placeholder="Email" type="email" id="email" formControlName="email" name="email"
                 class="input w-[20rem]">
          <div class="flex flex-col">
            <app-input-title class="text-[2rem]"></app-input-title>
            <input required placeholder="Introduza a sua palavra-passe" type="password" id="password"
                   formControlName="password" name="password" [(ngModel)]="user.password"
                   class="input w-[20rem]" />
          </div>
          <button type="submit" class="w-[20rem] from-municip-light-blue border-0 flex h-auto items-center justify-center rounded bg-gradient-to-tl to-municip-blue px-8 py-3 text-lg text-municip-blank transition-all duration-300 focus:outline-none bg-[position:_0%_0%] bg-[size:_200%] hover:bg-[position:_100%_100%]">
            Entrar
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </button>
        </form>
      </div>
      <hr class="border-t-[#ECECF0] my-4 rounded-3xl" />
      <div class="text-municip-normal-black text-right font-medium">Não tem conta? <a routerLink="/signUp-SelectAccountType" class="ml-2 cursor-pointer font-bold text-black hover:underline">Registe-se</a></div>
    </div>
  </div>
</div>



