

<div class="flex text-[16px] font-poppins">
  <div class="h-screen grow bg-gradient-to-tl from-municip-light-blue to-municip-blue flex items-center justify-center">
    <div class=" flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="size-8/12 drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]" />
    </div>
  </div>
  <div class="h-screen w-[79rem] flex items-center justify-center">
    <div class="flex flex-col px-16">
      <h1 class="font-black text-[30px] text-black  my-2">Login</h1>
      <h2 class="font-medium text-xl text-municip-normal-black mb-2">Insira os seus dados</h2>
      <div class="py-[1rem]">
        <form class="flex flex-col space-y-4 items-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class=" text-red-500 text-sm font-bold space-y-2 text-start">
              <p>{{error}}</p>
          </div>
          <input placeholder="Email" type="email" id="email" formControlName="email" name="email"
                 class="input w-[20rem]">
          <div class="flex flex-col">
            <app-input-title class="text-[2rem]"></app-input-title>
            <input required placeholder="Introduza a sua palavra-passe" type="password" id="password"
                   formControlName="password" name="password" [(ngModel)]="user.password"
                   class="input w-[20rem]" />
          </div>
          <button type="submit" class="h-auto w-[20rem] flex justify-center items-center font-semibold text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue
                  border-0 py-3 focus:outline-none hover:bg-indigo-600 rounded text-lg transition duration-700 ease-in-out">
            Entrar
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </button>
        </form>
      </div>
      <hr class="rounded-3xl border-t-[#ECECF0] my-4" />
      <div class="text-right font-medium text-municip-normal-black ">Não tem conta? <a routerLink="/signUp-SelectAccountType" class="cursor-pointer font-bold text-black ml-2 hover:underline">Registe-se</a></div>
    </div>
  </div>
</div>



