<div class="flex relative">
  <input placeholder="Palavra-Passe" [type]="showPassword ? 'text' : 'password'" id="password" name="password" class="input w-[20rem]
         focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset
         transition-all duration-700 ease-in-out  decoration-sky-500">
  <button (click)="onClick()" class="size-3 absolute top-[1.4rem] right-[1rem]">
    <img alt="hide password" class="scale-[1.5]" src="/assets/images/eye/hide.png" aria-hidden="true" *ngIf="!show" />
    <img alt="show password" class="scale-[1.5]" src="/assets/images/eye/view.png" aria-hidden="true" *ngIf="show" />
  </button>
  <!--<button (click)="showPassword = !showPassword" class="size-3 absolute top-[1.4rem] right-[1rem]">
    <img alt="hide password" class="scale-[1.5]" src="/assets/images/eye/hide.png" aria-hidden="true" [class.hide]="showPassword" *ngIf="showPassword" />
    <img alt="show password" class="scale-[1.5]" src="/assets/images/eye/hide.png" aria-hidden="true" [class.hide]="!showPassword" *ngIf="!showPassword" />
  </button>-->
</div>
