<div class="flex text-municip-black  font-poppins">
  <div class=" w-screen h-screen grow bg-gradient-to-tl from-municip-light-blue to-municip-blue flex flex-col items-center justify-center space-y-[-3rem] ">

    <section class="flex flex-col justify-center items-center rounded-3xl py-10 px-20 bg-[#F5F5F7] drop-shadow-[0_10px_10px_rgba(0,0,0,0.40)]">

      <div class="font-varela-round text-[5rem] text-[#FE585D] ">404</div>
      <img src="../../assets/images/404.png" alt="404" class="w-[30rem] h-[20rem] ">

      <div class="font-varela-round text-[1.5rem] text-municip-gray mb-16 text-center">Página não encontrada <p>Se isto pode ser um erro, contacte a equipa municip.io</p></div>

      <button (click)="goBack()" class=" w-[13rem] rounded-xl flex justify-center items-center text-center font-semibold text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue
border-0 mb-[1rem] py-5 hover:cursor-pointer focus:outline-none hover:bg-indigo-600  text-[1.7rem] transition duration-700 ease-in-out">
        Continuar
      </button>
    </section>
  </div>
</div>
