<div class="text-municip-black text-[1.1rem] font-poppins flex">


  <div class="from-municip-light-blue sticky top-0 flex h-screen grow items-center justify-center bg-gradient-to-tl to-municip-blue">
    <div class="flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)] size-8/12" />
    </div>
  </div>


  <section class="w-[62.5rem] mx-[3rem] my-10 flex items-center justify-center">
    <div class="flex grow flex-col">

      <h1 class="font-black text-[2.4rem] my-2 text-left text-black">Registo de Município</h1>
      <h3 class="text-municip-normal-black mb-2 text-left font-medium">Insira os seus dados</h3>



      <form [formGroup]="signUpMunicipalityForm" (ngSubmit)="onSubmit()">

        <div class="py-[2rem] flex flex-col justify-between gap-y-4">

          <div class="mb-4 flex justify-around gap-5 text-left max-lg:flex-col max-lg:items-center">
            <div class="relative">
              <app-input-title class="text-[1.4rem]">Presidente</app-input-title>
              <input required placeholder="Introduza o nome do presidente " type="text" id="president" formControlName="president" name="v" [(ngModel)]="municipality.president"
                     class="input w-[21rem]" />
              <div class="absolute py-2 font-bold text-red-500" *ngIf="president?.touched && president?.invalid ">
                <div *ngIf="president?.errors?.['required'] ">Presidente Obrigatório</div>
              </div>
            </div>


            <div class="relative">
              <app-input-title class="text-[1.4rem]">Contacto Telefónico</app-input-title>
              <input required placeholder="Introduza o seu contacto" type="text" id="contact" formControlName="contact" name="contact" [(ngModel)]="municipality.contact"
                     class="input w-[21rem]" />
              <div class="absolute py-2 font-bold text-red-500" *ngIf="contact?.touched && contact?.invalid ">
                <div *ngIf="contact?.errors?.['required'] ">Contacto Obrigatório</div>
                <div *ngIf="contact?.errors?.['pattern'] ">Contacto Inválido</div>
              </div>
            </div>

          </div>



          <div class="mb-4 flex justify-around gap-5 text-left max-lg:flex-col max-lg:items-center">
            <div class="w-[21rem]">
              <app-input-title class="text-[1.4rem]">Foto do Brasão</app-input-title>
              <div class="bg-[#F5F5F7] rounded-[0.375rem] border-2 border-[#bbbabc] table h-20 w-full border-dotted" (dragover)="onDragOver($event)"
                   (drop)="onDropEmblem($event)" (click)="openFilePicker('emblemPicker')">
                <div class="table-cell align-middle">
                  <div class="text-center">
                    <input type="file" id="emblem" #emblemPicker (change)="onEmblemChange($event)" accept="image/*" capture class="hidden">
                    <label for="emblem" class="flex items-center justify-center p-5 hover:cursor-pointer">Seleciona uma imagem ou arrasta-a para aqui!</label>
                    <div *ngIf="emblemImg" class="flex items-center justify-center pb-2">
                      <img [src]="emblemUrl" alt="Imagem carregada" class="w-[10rem] h-[10rem] object-cover">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-[21rem]">
              <app-input-title class="text-[1.4rem]">Foto do Paisagem</app-input-title>
              <div class="bg-[#F5F5F7] rounded-[0.375rem] border-2 border-[#bbbabc] table h-20 w-full border-dotted" (dragover)="onDragOver($event)"
                   (drop)="onDropLandscape($event)" (click)="openFilePicker('landscapePicker')">
                <div class="table-cell align-middle">
                  <div class="text-center">
                    <input type="file" id="landscape" #landscapePicker (change)="onLandscapeChange($event)" accept="image/*" capture class="hidden">
                    <label for="landscape" class="flex items-center justify-center p-5 hover:cursor-pointer">Seleciona uma imagem ou arrasta-a para aqui!</label>
                    <div *ngIf="landscapeImg" class="flex items-center justify-center pb-2">
                      <img [src]="landscapeUrl" alt="Imagem carregada" class="w-[18rem] h-[10rem] object-cover">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="relative mb-4 mt-6 flex w-full flex-col max-lg:flex-col">
            <app-input-title class="text-[1.4rem] text-left">Texto Informativo</app-input-title>
            <ngx-editor [editor]="editor" formControlName="description" placeholder="Introduza uma descrição da Câmara.">
              <div class="border border-gray-300 bg-gray-100">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
              </div>
            </ngx-editor>

            <div class="-bottom-[1.5rem] absolute font-bold text-red-500" *ngIf="description?.touched && description?.invalid ">
              <div *ngIf="description?.errors?.['required'] ">Descrição Obrigatório</div>
            </div>
          </div>




          <button type="submit" [disabled]="!signUpMunicipalityForm.valid || !emblemImg  || !landscapeImg"
                  class="top-[1rem] w-[10rem] from-municip-light-blue border-0 relative flex h-auto items-center justify-center self-end rounded bg-gradient-to-tl to-municip-blue px-8 py-3 text-lg text-municip-blank transition-all duration-300 focus:outline-none disabled:cursor-not-allowed bg-[position:_0%_0%] bg-[size:_200%] hover:bg-[position:_100%_100%]">
            Finalizar
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="ml-1 size-3.5" />
          </button>
        </div>
      </form>

      <div class="pb-10">
        <hr class="border-t-[#ECECF0] my-4 rounded-3xl" />
        <div class="text-municip-normal-black text-right font-medium">Já tem conta? <a routerLink="/login" class="ml-2 cursor-pointer font-bold text-black hover:underline">Faça login</a></div>
      </div>
    </div>
  </section>
</div>
