<div class="flex text-municip-black text-[1.2rem] font-poppins">


  <div class="sticky top-0 h-screen grow bg-gradient-to-tl from-municip-light-blue to-municip-blue flex items-center justify-center">
    <div class="flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="size-8/12 drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]" />
    </div>
  </div>


  <section class="w-[62.5rem] mx-[3rem] my-10 flex items-center justify-center ">
    <div class="flex grow flex-col">

      <h1 class="font-black text-[2.4rem] text-left text-black my-2">Registo de Município</h1>
      <h3 class="font-medium text-left text-municip-normal-black mb-2">Insira os seus dados</h3>



      <form [formGroup]="signUpMunicipalityForm" (ngSubmit)="onSubmit()">

        <div class="py-[2rem] justify-around flex flex-col">

          <div class="flex text-left justify-around gap-5 mb-4 max-lg:flex-col max-lg:items-center">
            <div class="h-32 ">
              <app-input-title class="text-[1.4rem]">Presidente</app-input-title>
              <input required placeholder="Introduza o nome do presidente " type="text" id="president" formControlName="president" name="v" [(ngModel)]="municipality.president"
                     class="input w-[21rem]" />
              <div class="text-red-500 font-bold py-2" *ngIf="president?.touched && president?.invalid ">
                <div *ngIf="president?.errors?.['required'] ">Presidente Obrigatório</div>
              </div>
            </div>


            <div class="h-32 ">
              <app-input-title class="text-[1.4rem]">Contacto Telefónico</app-input-title>
              <input required placeholder="Introduza o seu contacto" type="text" id="contact" formControlName="contact" name="contact" [(ngModel)]="municipality.contact"
                     class="input w-[21rem]" />
              <div class="text-red-500 font-bold py-2" *ngIf="contact?.touched && contact?.invalid ">
                <div *ngIf="contact?.errors?.['required'] ">Contacto Obrigatório</div>
                <div *ngIf="contact?.errors?.['pattern'] ">Contacto Inválido</div>
              </div>
            </div>

          </div>



          <div class="flex text-left justify-around gap-5 mb-4 max-lg:flex-col max-lg:items-center">

            <div class="w-[21rem]">
              <app-input-title class="text-[1.4rem]">Foto do Brasão</app-input-title>
              <div class="h-20 table w-full bg-[#F5F5F7] rounded-[0.375rem] border-2 border-dotted border-[#bbbabc]" (dragover)="onDragOver($event)"
                   (drop)="onDropEmblem($event)" (click)="emblemPicker.click()">

                <div class="table-cell align-middle">
                  <div class="text-center">
                    <input type="file" id="emblem" #emblemPicker (change)="onEmblemChange($event)" accept="image/*" capture class="hidden">

                    <label for="emblem" class="flex justify-center items-center p-5 hover:cursor-pointer">Seleciona uma imagem ou arrasta-a para aqui!</label>

                    <div *ngIf="emblemImg" class="flex items-center justify-center pb-2">
                      <img [src]="emblemUrl" alt="Imagem carregada" class="w-[10rem] h-[10rem] object-cover ">
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="w-[21rem]">
              <app-input-title class="text-[1.4rem]">Foto do Paisagem</app-input-title>
              <div class="h-20 table w-full bg-[#F5F5F7] rounded-[0.375rem] border-2 border-dotted border-[#bbbabc]" (dragover)="onDragOver($event)"
                   (drop)="onDropLandscape($event)" (click)="landscapePicker.click()">

                <div class="table-cell align-middle">
                  <div class="text-center">
                    <input type="file" id="landscape" #landscapePicker (change)="onLandscapeChange($event)" accept="image/*" capture class="hidden">

                    <label for="landscape" class="flex justify-center items-center p-5 hover:cursor-pointer">Seleciona uma imagem ou arrasta-a para aqui!</label>

                    <div *ngIf="landscapeImg" class="flex items-center justify-center pb-2">
                      <img [src]="landscapeUrl" alt="Imagem carregada" class="w-[10rem] h-[10rem] object-cover ">
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>




          <div class="flex flex-col text-left w-full h-[30rem] mt-6 mb-4 max-lg:flex-col max-lg:items-center">
            <app-input-title class="text-[1.4rem]">Texto Informativo</app-input-title>
            <textarea required placeholder="Introduza uma descrição da Câmara.

Sugestão: Esta irá aparecer no perfil do município. Pode fornecer informações úteis da história da localidade, horários relevantes, e outros." id="description" formControlName="description" name="description" [(ngModel)]="municipality.description"
                      class="input box-border w-full resize-none grow"></textarea>

            <div class="text-red-500 font-bold py-2" *ngIf="description?.touched && description?.invalid ">
              <div *ngIf="description?.errors?.['required'] ">Descrição Obrigatório</div>
            </div>
          </div>




          <button type="submit" [disabled]="!signUpMunicipalityForm.valid || !emblemImg  || !landscapeImg"
                  class="relative top-[1rem] self-end h-auto w-[10rem] flex text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue border-0 py-3 px-8
               focus:outline-none rounded text-lg justify-center items-center
               bg-[position:_0%_0%] hover:bg-[position:_100%_100%] bg-[size:_200%]  
               transition-all duration-300 disabled:cursor-not-allowed">
            Finalizar
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </button>
        </div>
      </form>

      <div class="relative top-[2rem]">
        <hr class="rounded-3xl border-t-[#ECECF0] my-4" />
        <div class="text-right font-medium text-municip-normal-black ">Já tem conta? <a routerLink="/login" class="cursor-pointer font-bold  text-black ml-2 hover:underline">Faça login</a></div>
      </div>
    </div>
  </section>
</div>
