<div class="flex text-municip-black text-[2vh] font-poppins">
  <div class="h-screen grow bg-gradient-to-tl from-municip-light-blue to-municip-blue flex items-center justify-center">
    <div class="flex justify-center text-white">
      <img alt="logo" src="/assets/images/logos/logo-white-right.png" class="size-8/12 drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]" />
    </div>
  </div>
  <div class="h-screen w-[70rem] flex items-center justify-center ">
    <div class="flex flex-col">
      <h1 class="font-black text-[4vh] text-left text-black my-2">Registo de Município</h1>
      <h3 class="font-medium text-left text-municip-normal-black mb-2">Insira os seus dados</h3>
      <form [formGroup]="signUpMunicipalityForm" (ngSubmit)="onSubmit()">
        <div class="py-[1rem] flex flex-col">
          <section class="flex text-left justify-around mb-4">
            <div class="w-[24rem]">
              <app-input-title class="text-[2.4vh]">Presidente</app-input-title>
              <input required placeholder="Introduza o presidente em funções no município" type="text" id="president" formControlName="president" name="v" [(ngModel)]="municipality.president"
                     class="input w-[18rem] focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500" />
              <div class="text-red-500 font-bold py-2" *ngIf="president?.touched && president?.invalid ">
                <div *ngIf="president?.errors?.['required'] ">Presidente Obrigatório</div>
              </div>
            </div>
            <div class="w-[20rem]">
              <app-input-title class="text-[2.4vh]">Contacto Telefónico</app-input-title>
              <input required placeholder="Introduza o seu contacto" type="text" id="contact" formControlName="contact" name="contact" [(ngModel)]="municipality.contact"
                     class="input w-[20rem] focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500" />
              <div class="text-red-500 font-bold py-2" *ngIf="contact?.touched && contact?.invalid ">
                <div *ngIf="contact?.errors?.['required'] ">Contacto Obrigatório</div>
                <div *ngIf="contact?.errors?.['pattern'] ">Contacto Inválido</div>
              </div>
            </div>
           
          </section>
          <div class="flex flex-col text-left w-full mt-6 mb-4">
            <app-input-title class="text-[2.4vh]">Texto Informativo</app-input-title>
            <textarea required placeholder="Introduza uma descrição da Câmara.

Sugestão: Esta irá aparecer no perfil do município. Pode fornecer informações úteis da história da localidade, horários relevantes, e outros." id="description" formControlName="description" name="description" [(ngModel)]="municipality.description"
                      class="input box-border h-[20rem] resize-none grow focus-visible:ring-municip-blue focus-visible:ring-[1.5px] focus:ring-inset transition-all duration-700 ease-in-out decoration-sky-500"></textarea>

            <div class="text-red-500 font-bold py-2" *ngIf="description?.touched && description?.invalid ">
              <div *ngIf="description?.errors?.['required'] ">Descrição Obrigatório</div>
            </div>
          </div>

          <button type="submit" [disabled]="!signUpMunicipalityForm.valid"
                  class="relative top-[1rem] self-end h-auto w-[10rem] flex justify-center items-center font-semibold text-municip-blank bg-gradient-to-tl from-municip-light-blue to-municip-blue border-0 py-4 hover:cursor-pointer focus:outline-none hover:bg-indigo-600 rounded text-lg transition duration-700 ease-in-out">
            Finalizar
            <img alt="arrow" src="/assets/images/arrows/right-arrow.png" class="size-3.5 ml-1" />
          </button>
        </div>
      </form>

      <div class="relative top-[2rem]">
        <hr class="rounded-3xl border-t-[#ECECF0] my-4" />
        <div class="text-right font-medium text-municip-normal-black ">Já tem conta? <a routerLink="/login" class="cursor-pointer font-bold  text-black ml-2 hover:underline">Faça login</a></div>
      </div>
    </div>
  </div>
</div>
